In [1]:
from Make_FakeCompany   import FakeCompany

In [2]:
FakeCompany()

Name: Johnson, Mclaughlin and Hernandez
Category: Limited Liability Limited Partnership
Domain: Johnson-Mclaughlin-and-Hernandez.com
# of Employees: 229
# of Customers: 676
# of Inventory Items: 667
City:  Jeremychester
State: NJ
Zip Code: 08790
Departments: [
   'Management',
   'Accounting',
   'Sales',
   'Marketing',
   'Security',
   'IT',
]
Employee Attributes: [
   'Employee ID',
   'First Name',
   'Last Name',
   'Email',
   'Username',
   'Password',
   'Date Of Birth',
   'SSN',
   'Phone Number',
   'Address',
   'City',
   'State',
   'Zip Code',
   'Hire Date',
   'Salary',
   'Department',
]
Customer Attributes: [
   'Customer ID',
   'First Name',
   'Last Name',
   'Email',
   'Username',
   'Password',
   'Phone Number',
   'Address',
   'City',
   'State',
   'Zip Code',
   'Card Provider',
   'Card Number',
   'CVV',
   'Expiration Date',
]
Inventory Attributes: [
   'Stock ID',
    'Product',
    'Year',
    'Price',
    'Quantity',
]

In [3]:
fake_employess = FakeCompany().MakeFakeEmployees()["As_DataFrame"]

In [4]:
fake_employess

,Employee ID,First Name,Last Name,Email,Username,Password,Date Of Birth,SSN,Phone Number,Address,City,State,Zip Code,Hire Date,Salary,Department
0,4010929,Wendy,Montoya,wendy.montoya@Johnson-Mclaughlin-and-Hernandez...,montoyaw,Aw0tAWZpH!,02/16/1988,700-04-8546,130.869.2373,93378 Perez Islands Apt. 187,South Cynthia,NJ,08918,04/22/2002,94526.63,Security
1,2735316,Janet,Rios,janet.rios@Johnson-Mclaughlin-and-Hernandez.org,riosj,!r%+0Pr6pP,06/13/1964,087-91-9189,734.207.9250,850 Meghan Springs,Jeremychester,NJ,08187,08/21/2014,55830.64,Sales
2,8830985,David,Thomas,david.thomas@Johnson-Mclaughlin-and-Hernandez.org,thomasd,wV3DOp@M*(,04/19/1970,176-06-9274,327-740-5806,515 Montoya Track,Jeremychester,NJ,08884,08/16/2011,72605.71,Management
3,3372787,Mark,Davis,mark.davis@Johnson-Mclaughlin-and-Hernandez.org,davism,p@!vSo$1_1,05/31/1967,459-95-6950,+1-(540)-019-8607,5279 Ruiz Parkway,Justinhaven,NJ,08918,10/24/2009,123540.41,Management
4,1871712,Marcus,Dean,marcus.dean@Johnson-Mclaughlin-and-Hernandez.org,deanm,*4+kYFzaYm,08/11/1967,128-44-9109,027-210-0062,4988 Ronnie Grove,Lake Courtneystad,NJ,08979,09/10/2000,100316.20,Sales
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,930357,Samantha,Lee,samantha.lee@Johnson-Mclaughlin-and-Hernandez.org,lees,BI_In7VzGq,07/24/1994,115-12-3367,(578) 560-3184,52190 Lester Grove,Jeremychester,NJ,08918,03/17/2011,73225.92,Management
225,7611667,Adrienne,Kim,adrienne.kim@Johnson-Mclaughlin-and-Hernandez.org,kima,e^78Dotdk&,03/21/1969,135-22-6006,(697) 293-7932,145 Felicia Village,Janiceberg,NJ,07849,04/17/2021,57043.25,Marketing
226,7826235,Preston,Sutton,preston.sutton@Johnson-Mclaughlin-and-Hernande...,suttonp,_LrRcwVf!6,01/23/1962,423-97-8071,1-361-922-0191,4537 Carol Common Suite 976,East Nicholas,NJ,08918,08/27/2014,63350.83,IT
227,3854602,Nathaniel,Moody,nathaniel.moody@Johnson-Mclaughlin-and-Hernand...,moodyn,^uFlJnZgd5,03/30/1989,805-97-2220,1-118-767-5451,3481 James Shoal Suite 814,Farmington,NJ,08741,07/20/2001,60413.61,Security
228,5604350,Isaac,King,isaac.king@Johnson-Mclaughlin-and-Hernandez.org,kingi,0tAIUW3%_d,09/26/1974,010-59-3129,1-779-768-8646,531 Davenport Highway Apt. 157,North Kimberlyview,NJ,08942,03/04/2013,58222.17,Sales

In [5]:
fake_customers = FakeCompany().MakeFakeCustomers()["As_DataFrame"]

In [6]:
fake_customers

,Customer ID,First Name,Last Name,Email,Username,Password,Phone Number,Address,City,State,Zip Code,Card Provider,Card Number,CVV,Expiration Date
0,3742,Teresa,Solis,slow1828@yahoo.com,solist,quebec_1854,957.512.4460,88752 Ashley Valleys,Reedfurt,NJ,07416,Chase,3476 002023 79045,359,08/28
1,6121,Michelle,Banks,hip1996@yahoo.com,banksm,notifications_2042,108-848-4121,043 Harris Bypass,Jeremychester,NJ,07910,Discover,2609 3331 7058 5554,577,03/26
2,2653,James,Hall,cheaper1933@yahoo.com,hallj,mariasavage,203.540.7820,42575 Wang Fork,Beaumont,NJ,07416,Chase,4482 5466 8240 5148,348,06/26
3,1465,Erika,Rivera,pas1974@outlook.com,riverae,conf_2060,830-089-3614,22494 Norris Squares Suite 065,Lake Jenniferborough,NJ,07055,MasterCard,4167 3036 9952 3238,910,02/28
4,6764,Nicole,Mahoney,moment1828@yahoo.com,mahoneyn,AT?rTtWQ,+1-(498)-490-4132,7426 Powers Fort,Jeremychester,NJ,07416,Discover,5297 8924 5162 6965,523,10/22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,5318,Yvonne,Villarreal,wal1950@yahoo.com,villarrealy,porcelain_2087,344.861.8582,7742 William Tunnel Apt. 442,Jeremychester,NJ,07416,American Express,2551 9753 3598 7915,377,04/27
672,1690,Jason,Mckinney,currently1896@gmail.com,mckinneyj,zachary61,428.741.1897,8355 Adam Knolls,Sanger,NJ,08213,American Express,4238 1035 1626 9378,282,04/24
673,8317,Larry,Golden,reid2008@outlook.com,goldenl,nicole52,(829) 208-0408,5979 Tracey Isle,North Reginahaven,NJ,07761,Discover,3412 290677 92344,517,02/24
674,6953,Michele,Wilson,audi2072@gmail.com,wilsonm,williamsjohn,979.066.0563,2377 Giles Meadow Apt. 430,Port Dale,NJ,08788,Discover,2245 2139 8663 3824,924,04/24
675,1119,Lance,Mcbride,characterized2034@outlook.com,mcbridel,#MU4Y(6N,606.854.2991,08235 Ryan Spring,Savannahton,NJ,07756,Discover,4797 2369 9364 6149,140,02/25

In [7]:
fake_inventory = FakeCompany().MakeFakeInventory()["As_DataFrame"]

In [8]:
fake_inventory

,Stock ID,Product,Year,Price,Quantity
0,50WMHR8,Mercedes-Benz Expectations,2016,707.11,33
1,B47BGAK,Samsung Galaxy Core,2001,192.63,25
2,13MBZG5,Hummer Facilities,2002,713.38,30
3,30YIAY1,Smart Sh,2013,737.04,55
4,B85GMAL,Samsung Galaxy Ace 4,2000,252.95,63
...,...,...,...,...,...
662,B61IMGX,Caterpillar CB-334E,2001,100.46,50
663,54WLGM8,Nokia Lumia 630,2011,424.93,63
664,GB89DWP,Samsung Galaxy S Advance,2004,593.41,31
665,GB42KRQ,Samsung Galaxy Pocket Duos,2018,256.63,39
666,B30UDXU,Massey Ferguson 4609M (Hydraulic Excavator),2002,342.24,65

In [9]:
fake_transactions = FakeCompany().MakeFakeTransactions(fake_inventory, fake_customers)

In [10]:
fake_transactions

,Transaction ID,Product Sold,Product ID,Customer ID,Customer Name,Customer Address,Card Number,Card Provider,Payment,Payment Date
141,0-00-048629-9,BlackBerry 10 Classic,11YPRD4,3577,Mark Wilson,"85707 Galloway Rue, Lake Michael, NJ 07416",4425 9472 2115 4942,Chase,1042.00,07/26/2022
376,0-00-669280-X,John Deere 2054,GB94YFB,4340,Thomas Adkins,"5416 Stephanie Bypass Apt. 752, Garden Grove, ...",5127 8144 7114 1789,MasterCard,231.42,01/09/2022
550,0-01-034263-X,Scat Trak Jeff City (Wheel Loader),B11UNDC,2750,Stephanie Cooper,"7319 Carter Run Suite 048, Port Jonathan, NJ 0...",2397 6511 9375 3784,Chase,1029.94,04/21/2021
94,0-01-096631-5,Samsung Galaxy Pocket,GB37KUL,6473,Sherry Baker,"897 Kelli Knolls, Piqua, NJ 08890",3756 822684 20405,American Express,1064.63,01/07/2020
604,0-01-264196-0,Nokia Lumia 800,GB05LGN,3620,Trevor Frost,"3815 Joanna Plains, Sugar Land, NJ 07768",2380 0421 6356 7348,Visa,449.51,12/09/2022
...,...,...,...,...,...,...,...,...,...,...
387,1-9829-3054-3,Tigercat T234,B64GGYJ,5142,Antonio Barajas,"7210 Stone Place Apt. 249, East Lansing, NJ 08306",4863 7845 2677 2196,Discover,600.13,05/17/2021
633,1-9876-0095-9,Yanmar Vio45-5 (Shovel),B28YBJI,8583,Dana Jones,"73375 Kathryn Ford Suite 859, West John, NJ 07602",3791 995167 73499,Visa,306.28,08/25/2021
658,1-988618-29-0,Daewoo SL340LC-V (4WD Tractor),B61EEOZ,8506,Lisa Hernandez,"961 Darlene Fall, Bernardport, NJ 07970",2483 6634 5068 6826,Chase,775.22,10/11/2022
566,1-993596-88-7,Bobcat S130,B13ZIKD,6176,Nathan Payne,"9408 Lee Hills Apt. 885, Jeremychester, NJ 07416",2270 6628 1407 5814,Visa,151.50,08/05/2021
575,1-997262-00-2,Intel® Iris™ Graphics 6100,52KZKL0,6400,Christopher Kelly,"4133 Johnson Courts, Shaneton, NJ 08186",4460 3092 1983 7986,Chase,322.27,01/12/2021