In [1]:
from Make_FakeCompany      import FakeCompany, fake, phony
from Make_FakeAthleticClub import FakeAthleticClub

In [2]:
FakeCompany()

Name: Petersen Inc
Category: Professional corporation
Domain: Petersen-Inc.com
Number of Employees: 255
City:  Lindahaven
State: OK
Zip Code: 73187
Departments: [
   'Management',
   'Accounting',
   'Sales',
   'Marketing',
   'Security',
   'IT',
]
Employee Attributes: [
   'Employee ID',
   'First Name',
   'Last Name',
   'Email',
   'Username',
   'Password',
   'Date Of Birth',
   'SSN',
   'Phone Number',
   'Address',
   'City',
   'State',
   'Zip Code',
   'Hire Date',
   'Salary',
   'Department',
]
Customer Attributes: [
   'Customer ID',
   'First Name',
   'Last Name',
   'Email',
   'Username',
   'Password',
   'Phone Number',
   'Address',
   'City',
   'State',
   'Zip Code',
   'Card Provider',
   'Card Number',
   'CVV',
   'Expiration Date',
]
Inventory Attributes: [
   'Stock ID',
    'Product',
    'Year',
    'Price',
    'Quantity',
]

In [3]:
fake_customers = FakeCompany().MakeFakeCustomers()["As_DataFrame"]

In [4]:
fake_customers

,Customer ID,First Name,Last Name,Email,Username,Password,Phone Number,Address,City,State,Zip Code,Card Provider,Card Number,CVV,Expiration Date
0,3982,Stephen,Rodriguez,cgi1960@gmail.com,rodriguezs,8k@^^y#A,086.883.0998,737 Nguyen Shore Apt. 717,Lindahaven,OK,73060,MasterCard,3730 431526 17113,160,08/22
1,7974,Janice,Fowler,foreign1997@yahoo.com,fowlerj,department_1865,+1-(477)-627-8816,19451 Coleman Track Suite 249,New Sandrabury,OK,73156,MasterCard,3449 639775 36477,496,03/28
2,1731,Margaret,Kelly,lie1979@gmail.com,kellym,U{9?}`[q,1-816-251-3995,505 Taylor Brook,Lindahaven,OK,73033,Discover,3774 974502 59257,383,07/25
3,4280,Gabriel,Farrell,mambo1840@gmail.com,farrellg,hopkinstyler,1-366-449-5829,22118 Wallace Rue Suite 027,Lindahaven,OK,73198,MasterCard,2498 5846 0412 7348,821,11/27
4,1635,Ana,Hughes,tmp2047@yahoo.com,hughesa,aims_1842,861-297-1742,1106 Johnson Groves Apt. 361,Lindahaven,OK,73170,Discover,4071 1342 0591 4321,590,12/22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,4060,Jeffery,Howe,waiver2077@outlook.com,howej,G1x!b.p4,408.961.2405,06618 Taylor Corner Suite 853,East Breanna,OK,73108,American Express,4656 0724 6338 9039,480,02/27
726,2003,David,Johnston,bowling1817@yahoo.com,johnstond,bank_1926,105.461.2410,9299 Owens Stravenue Apt. 117,Lindahaven,OK,73120,Discover,4005 5862 0472 1497,078,08/23
727,7272,Stacey,Bates,final2011@gmail.com,batess,DB*605w6,+1-(645)-051-3885,47285 Morton Road Suite 012,Nicholsfurt,OK,73069,Chase,4349 0116 7369 6604,325,12/26
728,6361,Roger,Harrison,their1833@gmail.com,harrisonr,rodriguezyvonne,537.169.0693,0873 John Mountain,East Jenniferview,OK,73139,American Express,4925 2780 1809 8075,553,01/28
729,7119,Ashley,Gill,cells1942@yahoo.com,gilla,boothmichele,443-818-9843,6241 Stephen Meadow Apt. 698,Moscow,OK,73110,MasterCard,3421 941935 43608,027,01/27

In [5]:
fake_inventory = FakeCompany().MakeFakeInventory()["As_DataFrame"]

In [6]:
fake_inventory

,Stock ID,Product,Year,Price,Quantity
0,GB72RVSG53352014909082,Samsung Galaxy Ace 3,2003,4500.07,24
1,GB86ZPPC76749893391908,NVIDIA GeForce GTX 1070,2007,2458.82,54
2,GB34ZRML97901940379165,Samsung Galaxy Spica,2007,3694.61,4
3,GB81UVLE44909044409599,Nokia Lumia 920,2005,4239.50,11
4,GB89RSVM32124804342141,Intel® HD Graphics 6000,2017,968.38,17
...,...,...,...,...,...
477,GB19CYRS85066881546387,NVIDIA GeForce GTX 980,2001,1122.13,47
478,GB65GTLM68033186888112,Kubota Prime Collected (Midi Excavator),2000,627.15,2
479,GB49VQXW17808939415173,Sunflower First Default (Mobile Excavator),2005,1200.97,49
480,GB98NNEN19058248570658,Landini Rex 80 F (Motor Grader),2002,3674.97,68
481,GB77NEXU79667814158723,McCormick MTX150,2015,654.13,27

In [23]:
import pandas

larger_size = (

    len(fake_inventory)  
    if  len(fake_inventory) > len(fake_customers)

    else                     
        len(fake_customers)

)

base = pandas.concat(
    [

        pandas.Series(
            [
                fake.isbn10()
                for _ in range(larger_size)
            ], 
            name='Transaction ID'
        ),

        fake_inventory['Product'],
        fake_customers['Customer ID'],
        fake_customers['First Name'],
        fake_customers['Last Name'],
        fake_inventory['Price'],
        fake_customers['Card Provider'],
        fake_customers['Card Number'],

        pandas.Series(
            [
                phony.Datetime().date(                   # fake data method for
                    2020,                                # a providing random 
                    2022                                 # dates between a 
                ).strftime('%m/%d/%Y')   
                for _ in reversed(range(larger_size))
            ], 
            name='Payment Date'
        ),

    ],

    axis=1  

).dropna().rename( columns={'Price':'Payment'} )

In [24]:
base

,Transaction ID,Product,Customer ID,First Name,Last Name,Payment,Card Provider,Card Number,Payment Date
0,0-16-876693-0,Samsung Galaxy Ace 3,3982,Stephen,Rodriguez,4500.07,MasterCard,3730 431526 17113,02/11/2020
1,1-318-34416-6,NVIDIA GeForce GTX 1070,7974,Janice,Fowler,2458.82,MasterCard,3449 639775 36477,09/05/2022
2,0-948036-26-5,Samsung Galaxy Spica,1731,Margaret,Kelly,3694.61,Discover,3774 974502 59257,08/25/2021
3,0-87322-521-X,Nokia Lumia 920,4280,Gabriel,Farrell,4239.50,MasterCard,2498 5846 0412 7348,08/20/2021
4,0-267-63996-1,Intel® HD Graphics 6000,1635,Ana,Hughes,968.38,Discover,4071 1342 0591 4321,09/30/2020
...,...,...,...,...,...,...,...,...,...
477,1-74113-375-0,NVIDIA GeForce GTX 980,7487,Sean,Shaffer,1122.13,American Express,3447 933109 24522,02/06/2022
478,1-57312-182-7,Kubota Prime Collected (Midi Excavator),1945,Rebecca,Harris,627.15,American Express,5122 9263 7179 5871,01/16/2022
479,1-341-29589-3,Sunflower First Default (Mobile Excavator),8387,Alan,Luna,1200.97,Visa,5442 0110 0582 5031,10/11/2022
480,1-68339-228-0,Landini Rex 80 F (Motor Grader),4339,Trevor,Foley,3674.97,MasterCard,4593 6009 1311 1110,04/17/2021
481,1-4713-9693-2,McCormick MTX150,6528,Jessica,Hernandez,654.13,Visa,4615 4803 1930 1258,01/02/2020