In [1]:
from Make_FakeCompany      import FakeCompany, fake, phony
from Make_FakeAthleticClub import FakeAthleticClub

In [2]:
FakeAthleticClub()

Name: Maps Fitness
Category: Athletic Club
Domain: Maps-Fitness.com
Number of Employees: 63
City:  New Richardfort
State: MD
Zip Code: 21652
Departments: ['Management', 'Personal Training', 'Coaching Staff', 'Sales and Merchandise', 'Diet and Nutrition']
Employees: odict_keys(['Employee ID', 'First Name', 'Last Name', 'Email', 'Username', 'Password', 'Date Of Birth', 'SSN', 'Phone Number', 'Address', 'City', 'State', 'Zip Code', 'Hire Date', 'Salary', 'Department'])

In [3]:
import pandas as pd

In [4]:
pd.DataFrame(
    FakeCompany().MakeFakeEmployees()
)

,Employee ID,First Name,Last Name,Email,Username,Password,Date Of Birth,SSN,Phone Number,Address,City,State,Zip Code,Hire Date,Salary,Department
0,6017864,Wesley,Cole,wesley.cole@Blake-Group.com,colew,8(X0(HqE67,03/20/1979,880-59-3194,033-484-7779,94981 Sonia Ranch,Williamsonburgh,AK,99720,11/03/2016,89022.86,Accounting
1,5158302,Thomas,Green,thomas.green@Blake-Group.com,greent,W^z@6WJsP#,12/29/1975,869-72-7305,930-274-5761,89247 Sara Park Apt. 030,Williamsonburgh,AK,99692,01/21/2022,89468.06,Marketing
2,2360876,Jessica,Gutierrez,jessica.gutierrez@Blake-Group.com,gutierrezj,4iG7dTAtt),07/17/1972,869-14-6605,317.216.3608,791 Soto Lock,Carlosburgh,AK,99653,01/20/2001,120771.02,Management
3,864382,Laura,Powell,laura.powell@Blake-Group.com,powelll,hvx5MAmx*F,04/03/1995,789-41-3164,073.346.9491,678 Fisher Parkways,Wichita Falls,AK,99949,04/20/2015,79013.15,Management
4,4296359,Kimberly,Gaines,kimberly.gaines@Blake-Group.com,gainesk,LP3j#Qed%k,01/10/1982,492-10-3981,(669) 166-1988,1815 Strickland Stream,Williamsonburgh,AK,99681,01/27/2009,122956.48,Sales
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
766,2161422,Christopher,Gaines,christopher.gaines@Blake-Group.com,gainesc,1*7F8^klGR,10/19/1969,234-52-3246,1-799-601-0181,381 Smith Drive Suite 541,Williamsonburgh,AK,99506,09/03/2004,104967.40,Sales
767,3359524,Ronald,Cabrera,ronald.cabrera@Blake-Group.com,cabrerar,Q@4IWRoDd!,01/27/1978,688-93-8242,078-600-6750,57401 Mcmahon Burg Apt. 255,Auburn,AK,99745,03/09/2000,85815.49,Management
768,1551072,Michael,Hill,michael.hill@Blake-Group.com,hillm,ji4TgpI71!,05/12/1987,579-85-0711,1-117-994-1112,243 Amy Lodge,Dakotaside,AK,99681,07/25/2010,83705.21,Accounting
769,7623788,Jessica,Green,jessica.green@Blake-Group.com,greenj,I6W$IpTp+6,08/01/1967,822-28-4148,(426) 890-1005,9838 Jones Mill,Josephbury,AK,99681,10/14/2022,63966.08,Accounting
770,139623,Sarah,Joyce,sarah.joyce@Blake-Group.com,joyces,%M1caPsuuQ,05/05/1986,116-47-0186,223-150-1877,19641 King View Apt. 391,Los Angeles,AK,99745,11/30/2019,121921.93,Sales

In [5]:
pd.DataFrame(
    FakeCompany().MakeFakeCustomers()
)

,Customer ID,First Name,Last Name,Email,Username,Password,Phone Number,Address,City,State,Zip Code,Card Provider,Card Number,CVV,Expiration Date
0,5080,Ashley,Hall,hollywood1935@gmail.com,halla,qcrawford,206.927.3994,26564 Courtney Villages Suite 770,Williamsonburgh,AK,99851,Visa,5436 0670 0101 3871,102,12/27
1,3119,Sabrina,Miller,systematic1898@yahoo.com,millers,wendysutton,791-046-8503,1648 Haley Shoals Apt. 638,Zanesville,AK,99776,Visa,5452 4544 4418 0419,459,09/27
2,8818,Bryan,Parsons,children2024@gmail.com,parsonsb,0#?pe@P],563-116-4064,36243 Stephanie Points Suite 476,Prescott,AK,99598,Visa,4412 2302 1616 1007,284,01/24
3,4651,Carol,Armstrong,beastality2046@gmail.com,armstrongc,jeffrey79,920.103.6982,00080 Francis Vista Apt. 014,Nicoleville,AK,99851,American Express,2618 3709 4846 0990,040,07/24
4,8076,Danny,Bowen,feelings1869@gmail.com,bowend,h%E/W#EO,1-682-375-7755,1492 Samantha Islands,Santa Fe Springs,AK,99542,Visa,2491 5621 5341 2086,185,01/22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
672,1426,Max,Carey,katrina1974@outlook.com,careym,hwilliams,468-478-8181,2469 John Trail,Helena,AK,99851,MasterCard,3433 147495 27264,237,11/24
673,5558,Douglas,Miles,results1938@yahoo.com,milesd,ihamilton,1-426-213-0287,601 Rodriguez Orchard,Sebastian,AK,99851,Chase,2308 9213 1777 4331,802,08/24
674,1257,Michael,Weber,highlights2008@yahoo.com,weberm,f]T2^>y*,1-299-954-9268,86150 Mark Overpass Apt. 730,Smithfort,AK,99851,Chase,2540 8402 6714 8619,712,10/25
675,3594,Bonnie,Davis,grows1864@outlook.com,davisb,"6^ZQ;$n""",1-463-310-9832,1901 Michelle Roads Suite 331,Velezborough,AK,99936,American Express,2416 4206 8099 3585,298,05/28
676,8089,Mark,Quinn,councils1917@outlook.com,quinnm,manuelsutton,+1-(107)-975-1457,090 York Field,Billings,AK,99636,Visa,3749 009348 32170,189,02/23

In [7]:
pd.DataFrame(
    FakeCompany().MakeFakeInventory()
)

,Stock Number,Product,Year,Price
0,GB57MRNZ49778294520484,NVIDIA GeForce GTX 980,2015,3733.51
1,GB68YFPP45839446008760,Hyundai Sites Foundation (Vibratory Smooth Dru...,2016,1118.83
2,GB02ZJRQ10127674582044,Sony Xperia Z5 Premium,2017,3465.45
3,GB92IPBA06177817718454,MG Hotel,2010,2281.27
4,GB13QVXE00472104273228,Mini Citizen,2016,3623.41
...,...,...,...,...
678,GB69QAUK50823174755631,Kioti Banks Durham (Wheel Loader),2015,3714.99
679,GB90GKBC37231403346333,NVIDIA GeForce GTX 1070,2002,2002.45
680,GB07GFTC47666980495737,IHI 55N-2,2019,1675.96
681,GB87EWEW95083076583615,Daihatsu Difficulties,2003,1736.20
682,GB60JHYB27538061855355,Nexus 6,2002,1062.13