In [1]:
from Make_FakeCompany      import FakeCompany, fake, phony
from Make_FakeAthleticClub import FakeAthleticClub

In [2]:
FakeCompany()

Name: Cruz-Nunez
Category: Professional Limited Liability Company
Domain: Cruz-Nunez.com
# of Employees: 983
# of Customers: 682
# of Inventory Items: 933
City:  Matthewtown
State: IA
Zip Code: 51914
Departments: [
   'Management',
   'Accounting',
   'Sales',
   'Marketing',
   'Security',
   'IT',
]
Employee Attributes: [
   'Employee ID',
   'First Name',
   'Last Name',
   'Email',
   'Username',
   'Password',
   'Date Of Birth',
   'SSN',
   'Phone Number',
   'Address',
   'City',
   'State',
   'Zip Code',
   'Hire Date',
   'Salary',
   'Department',
]
Customer Attributes: [
   'Customer ID',
   'First Name',
   'Last Name',
   'Email',
   'Username',
   'Password',
   'Phone Number',
   'Address',
   'City',
   'State',
   'Zip Code',
   'Card Provider',
   'Card Number',
   'CVV',
   'Expiration Date',
]
Inventory Attributes: [
   'Stock ID',
    'Product',
    'Year',
    'Price',
    'Quantity',
]

In [3]:
fake_customers = FakeCompany().MakeFakeCustomers()["As_DataFrame"]

In [4]:
fake_customers

,Customer ID,First Name,Last Name,Email,Username,Password,Phone Number,Address,City,State,Zip Code,Card Provider,Card Number,CVV,Expiration Date
0,1224,Jordan,Campos,thinking1987@gmail.com,camposj,jimmcguire,1-085-724-1904,06136 Valencia Highway Suite 645,Montebello,IA,52786,American Express,3711 411931 56752,361,10/25
1,5228,Susan,May,completion2036@outlook.com,mays,>1_`~gCd,(155) 727-6889,58608 Best Mall Apt. 195,Matthewtown,IA,52083,American Express,3726 964106 96988,428,08/23
2,7609,Evelyn,Mckinney,tourist1927@yahoo.com,mckinneye,banners_1875,651.265.6262,135 Garcia Mall,Matthewtown,IA,51945,MasterCard,3456 028599 31377,930,09/25
3,2909,Christine,Baldwin,forwarding1828@outlook.com,baldwinc,F\y)sUYB,(229) 797-3411,4919 Davis Hill Apt. 549,Matthewtown,IA,52023,American Express,2333 5076 0832 9189,653,04/22
4,4094,Ethan,Carter,hosting2087@outlook.com,cartere,changing_2014,(904) 761-1904,7486 Rodriguez Dale,Matthewtown,IA,51336,Discover,4878 6623 7872 9626,291,10/24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
677,3883,Michael,Ross,alternative1801@outlook.com,rossm,alex03,158.908.7276,8689 Grimes Squares,Lake Jonathanport,IA,50905,MasterCard,3718 585753 15397,780,11/28
678,3529,Jeffrey,Page,compliant2009@outlook.com,pagej,buckleyalison,+1-(854)-296-9777,03236 Lopez Mill Suite 086,Johnsonmouth,IA,52692,Chase,4904 3075 6301 7654,067,01/28
679,7092,Jennifer,Thompson,add1859@yahoo.com,thompsonj,guerravanessa,627-763-9776,999 Nelson Field Apt. 350,Matthewtown,IA,51664,Visa,5248 6163 7818 9629,425,10/23
680,6228,Anthony,Thompson,referred2090@yahoo.com,thompsona,<|U^LN%p,1-134-934-7620,90246 Melody Oval Suite 294,Lake Jeffreybury,IA,52201,MasterCard,2697 9426 3582 8707,205,03/28
681,6701,Dustin,Carey,came1894@yahoo.com,careyd,mbennett,1-708-417-1372,0480 Jason Stravenue,Haynesview,IA,51945,American Express,3489 819754 50406,519,06/24

In [5]:
fake_inventory = FakeCompany().MakeFakeInventory()["As_DataFrame"]

In [6]:
fake_inventory

,Stock ID,Product,Year,Price,Quantity
0,GB67QFHN84586640182389,John Deere JD24A,2002,518.48,43
1,GB08JQGH10593337563800,Intel® HD Graphics 615,2007,4768.28,12
2,GB35BHNN81096990861334,Volvo EC290C,2013,2598.11,64
3,GB19JFJW81565161988480,Nokia Lumia 920,2013,970.11,34
4,GB41XFUT67448851863171,Samsung Galaxy Pocket Neo,2004,414.82,20
...,...,...,...,...,...
928,GB33QAPV34577208043251,Case 721CXT,2017,807.94,12
929,GB76BRQK34340714192176,Volvo Promise,2004,1696.31,59
930,GB91UBKI89355465793016,Caterpillar 966M XE (Asphalt Paver),2015,977.75,40
931,GB82SMRY22707650861646,Nokia Lumia 620,2007,3014.88,62
932,GB48UQHN82952208511162,Komatsu 860E-1K,2008,3481.96,57

In [9]:
fake_transations = FakeCompany().MakeFakeTransactions(fake_inventory, fake_customers)

In [10]:
fake_transations

,Transaction ID,Product Sold,Customer ID,Customer Name,Customer Address,Card Number,Card Provider,Payment,Payment Date
132,0-00-314389-9,Caterpillar BB621E,2001,Lindsay Harmon,"582 Michelle Spurs Suite 175, Sunrise, IA 51945",3740 536945 32240,Visa,610.75,06/24/2020
479,0-00-716864-0,Lancia Pe,2738,Melissa Nichols,"4345 Kristen Plain, South Mary, IA 51945",4322 7568 5313 7792,MasterCard,2128.90,08/24/2020
246,0-00-751190-6,BlackBerry 10 P'9982,7867,Pedro Brown,"992 Gonzales Lakes Suite 829, Cliffside Park, ...",3788 737498 35371,Visa,4599.72,05/08/2022
250,0-00-800912-0,Intel® Iris™ Pro Graphics 5200,9906,Brian Griffin,"6460 Randy Stream, Gaithersburg, IA 51945",4008 9105 6730 4930,American Express,774.48,08/19/2021
61,0-00-814251-3,Intel® Iris™ Pro Graphics 6200,4905,Gabriel Tapia,"53092 Samuel Lights, Matthewtown, IA 51945",4554 0929 8499 0449,Chase,2466.72,02/12/2022
...,...,...,...,...,...,...,...,...,...
118,1-994340-74-6,Intel® HD Graphics 4000,7692,Jasmine Hatfield,"73136 Christopher Curve Suite 592, Matthewtown...",4480 6650 2445 5405,MasterCard,4493.88,08/23/2021
431,1-996912-16-X,NVIDIA GeForce GTX 970M,2705,Joseph Miller,"4514 Jenkins Run, Rodriguezburgh, IA 51945",3756 466404 00641,Discover,3802.28,04/11/2020
509,1-997771-27-6,Intel® HD Graphics 615,1208,Sarah Palmer,"535 Moreno Islands Suite 413, Matthewtown, IA ...",4258 6949 7172 0348,American Express,3544.29,01/17/2022
214,1-998849-77-5,AMD Radeon R9 M485X,3765,Kevin Parker,"590 Anthony Loaf, Blue Springs, IA 51945",3425 796046 53238,Discover,626.83,03/31/2020
192,1-998946-89-4,AMD Radeon R9 M395,8530,Kristen Wright,"0734 Hoffman Ways, Murrayberg, IA 51945",4633 6761 1377 2762,Chase,4705.81,09/21/2022