In [1]:
from Make_FakeCompany      import FakeCompany, fake, phony
from Make_FakeAthleticClub import FakeAthleticClub

In [2]:
FakeCompany()

Name: Jones-Logan
Category: Corporation
Domain: Jones-Logan.net
# of Employees: 800
# of Customers: 78
# of Inventory Items: 248
City:  Port Samantha
State: VA
Zip Code: 22787
Departments: [
   'Management',
   'Accounting',
   'Sales',
   'Marketing',
   'Security',
   'IT',
]
Employee Attributes: [
   'Employee ID',
   'First Name',
   'Last Name',
   'Email',
   'Username',
   'Password',
   'Date Of Birth',
   'SSN',
   'Phone Number',
   'Address',
   'City',
   'State',
   'Zip Code',
   'Hire Date',
   'Salary',
   'Department',
]
Customer Attributes: [
   'Customer ID',
   'First Name',
   'Last Name',
   'Email',
   'Username',
   'Password',
   'Phone Number',
   'Address',
   'City',
   'State',
   'Zip Code',
   'Card Provider',
   'Card Number',
   'CVV',
   'Expiration Date',
]
Inventory Attributes: [
   'Stock ID',
    'Product',
    'Year',
    'Price',
    'Quantity',
]

In [3]:
fake_customers = FakeCompany().MakeFakeCustomers()["As_DataFrame"]

In [4]:
fake_customers

,Customer ID,First Name,Last Name,Email,Username,Password,Phone Number,Address,City,State,Zip Code,Card Provider,Card Number,CVV,Expiration Date
0,1737,Samuel,Lopez,subsidiaries1815@outlook.com,lopezs,7&ti@.8m,523-193-1712,8762 Leonard Fords,Kirkland,VA,22712,MasterCard,3752 582898 69936,331,10/25
1,7933,Michael,Taylor,lose1861@outlook.com,taylorm,games_2020,910-625-7289,3952 Owens Camp Suite 544,Port Keith,VA,24285,Visa,3702 871337 92437,533,05/25
2,1902,Stanley,Dunn,cancellation2093@outlook.com,dunns,card_2001,1-058-033-0127,925 Jessica Hills,Foster City,VA,22562,Visa,5516 4814 2726 0110,168,05/24
3,6576,Sue,Clark,neil2071@outlook.com,clarks,xN9B<^ey,376.853.7399,68387 Michael Road,Port Samantha,VA,23163,Visa,4302 9262 8328 5313,682,05/24
4,7162,Elizabeth,Moore,laugh1993@yahoo.com,mooree,baileykevin,+1-(501)-361-3481,54397 Brooke Mews,Olive Branch,VA,22849,Discover,4745 2070 2881 8048,674,10/26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,6140,Cole,Kelley,blocking1862@gmail.com,kelleyc,"TasKp.""7",1-844-546-4582,821 Sabrina Crest,Christopherburgh,VA,23395,American Express,2575 7140 1905 4425,402,01/27
74,3881,Danielle,Collins,ben2044@gmail.com,collinsd,oramsey,1-527-744-5735,1193 Alice Mount,Lake Rachelbury,VA,24527,Discover,4771 1948 9106 1368,913,08/27
75,1979,David,Porter,lime1935@outlook.com,porterd,davidrogers,1-523-434-5233,19873 Devin Knolls Suite 972,New Jessica,VA,23395,Chase,4834 2019 4594 8048,203,08/28
76,7324,Douglas,Hahn,abroad1967@gmail.com,hahnd,",H*1MmHP",646-553-2560,309 Smith Coves Apt. 716,Hillchester,VA,22426,Discover,3477 125569 36526,402,06/23
77,3456,Gavin,Thomas,plymouth1916@yahoo.com,thomasg,rhonda82,(778) 657-8106,482 Grant Mountain Apt. 575,Des Moines,VA,24587,Visa,4898 6732 0127 7945,050,12/26

In [5]:
fake_inventory = FakeCompany().MakeFakeInventory()["As_DataFrame"]

In [6]:
fake_inventory

,Stock ID,Product,Year,Price,Quantity
0,GB62KBVE81469286965584,Apple iPhone 6s Plus,2013,4508.15,42
1,GB57TPME10566450706304,NVIDIA GeForce GTX 1070,2018,4365.58,58
2,GB85WFGD28875049844445,Nokia Lumia 625,2011,4787.39,21
3,GB07ZLCR84898685757791,Saab Slide,2003,2392.60,40
4,GB83IRVE86932821982476,John Deere 9670 STS (Vibratory Smooth Drum Rol...,2012,310.22,4
...,...,...,...,...,...
243,GB17EOFA54334189982616,John Deere 8320RT (4WD Tractor),2000,2923.50,41
244,GB48QPNK88945704996747,Samsung Galaxy Young,2013,885.69,7
245,GB07QWYW26363000148823,John Deere 953J (Hydraulic Excavator),2010,4534.45,50
246,GB65IIHC42667493042595,Samsung Galaxy Note 7,2019,4426.45,9
247,GB79ICKD85174993073820,Caterpillar Anniversary Respond (Skidder),2011,4564.43,63

In [7]:
import pandas

larger_size = (

    len(fake_inventory)  
    if  len(fake_inventory) > len(fake_customers)

    else                     
        len(fake_customers)

)

base = pandas.concat(
    [

        pandas.Series(
            [
                fake.isbn10()
                for _ in range(larger_size)
            ], 
            name='Transaction ID'
        ),

        fake_inventory['Product'],
        fake_customers['Customer ID'],

        fake_customers['First Name']
        +
        ' '
        +
        fake_customers['Last Name'],

        fake_customers['Address']
        +
        ', '
        +
        fake_customers['City']
        +
        ', '
        +
        fake_customers['State']
        +
        ' '
        +
        fake_customers['Zip Code'],

        fake_customers['Card Number'],
        fake_customers['Card Provider'],
        fake_inventory['Price'],

        pandas.Series(
            [
                phony.Datetime().date(                   # fake data method for
                    2020,                                # a providing random 
                    2022                                 # dates between a 
                ).strftime('%m/%d/%Y')

                for _ in range(larger_size)
            ], 
            name='Payment Date'
        ),

    ],

    axis=1  

).dropna().rename( 
    columns={
        'Price':'Payment',
        'Product':'Product Sold',
        0:'Customer Name',
        1:'Customer Address'
    } 
).sort_values("Transaction ID")

In [8]:
base

,Transaction ID,Product Sold,Customer ID,Customer Name,Customer Address,Card Number,Card Provider,Payment,Payment Date
39,0-03-716400-7,Caterpillar AP200 (2WD Tractor),7946,Christopher Brown,"11755 Dylan Stravenue, East Russellton, VA 22366",3401 093238 62662,Discover,2394.60,07/08/2021
36,0-08-842280-1,Samsung Galaxy Note Edge,2016,Dawn Jimenez,"0873 Amanda Fords Suite 630, New Smyrna Beach,...",4422 1906 5211 9315,Visa,4190.46,04/01/2022
37,0-10-188056-1,Skoda Necessarily,3599,Susan Collins,"80454 Hurley Branch Suite 498, Port Michaeltow...",3472 511834 39083,MasterCard,1348.95,10/02/2021
20,0-10-831143-0,Infiniti Helped,3417,Katelyn Johnston,"816 Miller Dam Apt. 065, Juliafurt, VA 23742",5127 1376 4576 5105,Visa,4902.61,08/21/2020
51,0-15-003812-7,New Holland TL90A,6663,Timothy Huang,"95573 Andrew Plaza Apt. 468, Port Samantha, VA...",3482 815979 07234,MasterCard,1200.39,04/17/2021
...,...,...,...,...,...,...,...,...,...
56,1-903490-85-5,Intel® HD Graphics 5500,4463,Tiffany Ortega,"10503 Dean Plaza, East Janiceville, VA 23395",4460 4439 6105 0686,Chase,2447.43,07/23/2022
10,1-927765-71-4,NVIDIA GeForce GTX 1080,5145,Jennifer Whitehead,"303 Rodriguez Islands, West Thomas, VA 24594",3722 997743 18727,Visa,2734.77,05/17/2020
59,1-931294-91-7,New Holland Trailers Holding (Crawler Tractor),2786,Julie Johnson,"678 Goodman Landing Apt. 470, Port Samantha, V...",4950 0599 5321 3566,American Express,4320.02,08/23/2022
24,1-964952-79-4,JCB Gas Pan (Hydraulic Excavator),4267,Sarah Lawrence,"69900 Baird Road, New Angela, VA 22055",5187 6143 9075 6437,Discover,3884.53,01/03/2022
45,1-992812-35-7,AMCO Repair Lamps (Harrow),8325,Summer Wu,"942 Flowers Circles, Port Samantha, VA 22905",2359 6746 0119 7465,MasterCard,127.20,03/26/2022