In [1]:
from Make_FakeCompany   import FakeCompany

In [2]:
FakeCompany(employee_size=300,customer_size=196, inventory_size=112)

Name: Watts, Watkins and Jones
Category: Limited Partnership
Domain: Watts-Watkins-and-Jones.net
# of Employees: 300
# of Customers: 196
# of Inventory Items: 112
City:  Williamsbury
State: WI
Zip Code: 53261
Departments: [
   'Management',
   'Accounting',
   'Sales',
   'Marketing',
   'Security',
   'IT',
]
Employee Attributes: [
   'Employee ID',
   'First Name',
   'Last Name',
   'Email',
   'Username',
   'Password',
   'Date Of Birth',
   'SSN',
   'Phone Number',
   'Address',
   'City',
   'State',
   'Zip Code',
   'Hire Date',
   'Salary',
   'Department',
]
Customer Attributes: [
   'Customer ID',
   'First Name',
   'Last Name',
   'Email',
   'Username',
   'Password',
   'Phone Number',
   'Address',
   'City',
   'State',
   'Zip Code',
   'Card Provider',
   'Card Number',
   'CVV',
   'Expiration Date',
]
Inventory Attributes: [
   'Stock ID',
    'Product',
    'Year',
    'Price',
    'Quantity',
]

In [3]:
fake_employess = FakeCompany().MakeFakeEmployees()["As_DataFrame"]

In [4]:
fake_employess

,Employee ID,First Name,Last Name,Email,Username,Password,Date Of Birth,SSN,Phone Number,Address,City,State,Zip Code,Hire Date,Salary,Department
0,7995273,Cody,Jackson,cody.jackson@Watts-Watkins-and-Jones.org,jacksonc,^Z+0KOht6K,07/31/1978,395-59-2082,(292) 194-4513,4477 Charles Fort Apt. 453,South Shane,WI,54920,01/15/2019,107692.02,Management
1,2271559,Anna,Bowen,anna.bowen@Watts-Watkins-and-Jones.org,bowena,iPpyjCHj_8,05/07/1981,580-09-8156,1-142-062-8730,5648 Erin Ferry,Pasadena,WI,53273,10/30/2008,80290.63,IT
2,7156658,Cheyenne,Griffin,cheyenne.griffin@Watts-Watkins-and-Jones.org,griffinc,+57lwR4nc1,04/12/1977,493-16-7525,757.701.2021,245 Gutierrez Forest Apt. 152,Williamsbury,WI,53774,04/30/2011,108782.96,Marketing
3,7253231,Jenna,Thompson,jenna.thompson@Watts-Watkins-and-Jones.org,thompsonj,2$Smi8Tsf6,02/20/1982,737-27-7330,(034) 741-3569,07841 French Fort,Williamsbury,WI,53774,05/18/2005,83670.29,IT
4,8852301,Jeffrey,Wells,jeffrey.wells@Watts-Watkins-and-Jones.org,wellsj,&B2Sfep4!4,04/17/1976,616-76-2812,1-965-322-7817,7881 Christopher Pass,Wayne,WI,53932,03/17/2022,72952.56,IT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,1954244,Brian,Dixon,brian.dixon@Watts-Watkins-and-Jones.org,dixonb,$u9$AUnE(I,11/02/1983,366-53-7005,877-297-2558,709 Harding Road Suite 806,Aaronbury,WI,53774,07/08/2015,72995.57,Security
352,1690142,Samantha,Wilson,samantha.wilson@Watts-Watkins-and-Jones.org,wilsons,g71kRj1as^,12/13/1968,485-57-1886,1-432-123-8965,4311 Amber Mission,North Jasonville,WI,53774,03/13/2022,94410.02,Accounting
353,8680102,Ashlee,Duran,ashlee.duran@Watts-Watkins-and-Jones.org,durana,(wP3nviBC1,02/26/1986,316-75-8509,(406) 352-7639,039 Phillips Shore Apt. 316,Kevinborough,WI,53413,12/08/2001,60395.01,Accounting
354,4535977,Megan,Marshall,megan.marshall@Watts-Watkins-and-Jones.org,marshallm,X#P0GKnO6+,05/30/1988,124-35-7847,+1-(643)-876-2191,0054 Lisa Burgs Suite 239,Virginiamouth,WI,54861,12/25/2002,87846.98,Management
355,7227252,Sarah,Spencer,sarah.spencer@Watts-Watkins-and-Jones.org,spencers,Jm0R_m$G&%,09/28/1960,727-22-7173,695-121-0490,189 David Club,South Scottmouth,WI,54575,04/04/2016,89047.21,Sales

In [5]:
fake_customers = FakeCompany().MakeFakeCustomers()["As_DataFrame"]

In [6]:
fake_customers

,Customer ID,First Name,Last Name,Email,Username,Password,Phone Number,Address,City,State,Zip Code,Card Provider,Card Number,CVV,Expiration Date
0,6491,Shawn,Campbell,undergraduate2040@outlook.com,campbells,cayman_2092,1-486-662-2780,7466 Juan Drives,Thomasberg,WI,53231,American Express,3436 949854 04454,441,05/22
1,4725,Andrew,Vasquez,western2086@yahoo.com,vasqueza,trevorshannon,1-146-841-0043,17054 Williams Wells,Williamsbury,WI,54358,Discover,3792 513219 07745,101,12/23
2,1001,Erica,Luna,institutes2089@outlook.com,lunae,appeals_1838,+1-(316)-077-7795,197 Angela Trafficway Suite 405,Millbrae,WI,53033,American Express,4975 4098 1417 5895,980,05/28
3,5054,Vicki,Castillo,dsl1957@outlook.com,castillov,ZJF;W(Q:,(931) 906-1671,521 Williams Landing Suite 347,Williamsbury,WI,53200,Chase,3494 873278 53429,224,08/27
4,5234,Michelle,White,fully2012@yahoo.com,whitem,specializing_1852,(352) 502-7070,6688 Reginald Knolls Apt. 492,Bridgeport,WI,53703,American Express,3754 934958 92352,354,03/22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,2240,Shelby,May,desire2081@yahoo.com,mays,harrelllinda,(631) 039-9943,123 Lee Flat,Williamsbury,WI,53680,American Express,5266 1759 0646 4597,257,08/22
180,4701,Mary,Perez,covers2043@gmail.com,perezm,spanking_1902,006-198-6791,507 Sanchez Curve Apt. 533,Mccoychester,WI,54589,Discover,3475 270191 62878,410,11/23
181,6215,Nathan,Walker,merely1904@gmail.com,walkern,'rDBfm>;,(233) 770-2989,2829 David Place Suite 818,East Aliciafurt,WI,53703,Visa,4151 1393 9780 7582,502,11/22
182,7010,James,Martin,porter2081@outlook.com,martinj,3@i>Ld;<,336.450.4455,87912 Smith Place,East Jermaine,WI,53703,Discover,3721 929749 85009,323,10/23
183,6279,Tracey,Morgan,easter1851@outlook.com,morgant,document_1822,762-855-5539,1784 Kristen Summit,Williamsbury,WI,53840,American Express,4145 3471 4425 6123,105,06/28

In [7]:
fake_inventory = FakeCompany().MakeFakeInventory()["As_DataFrame"]

In [8]:
fake_inventory

    Stock ID                           Product  Year   Price  Quantity
0    GB71DDE        Samsung Galaxy Grand Prime  2011  206.63         8
1    GB79UBS                      Fendt 6300 C  2003  290.32        47
2    B46AHQU                  Samsung GT-C3520  2004  536.60        26
3    GB74IEN                       IMT IMT 560  2012  372.49         7
4    78UIJK6                  Samsung Galaxy 5  2001  838.82        61
..       ...                               ...   ...     ...       ...
121  36XBMX8                  Hyundai R500LC-7  2011   86.85        54
122  GB88XPF                    Takeuchi TB016  2011  298.53        21
123  74IDTS6       Samsung Galaxy Trend 2 Lite  2005   36.43        22
124  GB66QKL                 Kubota KX057-4GA1  2015  736.35         0
125  GB80FRS  Ammann ASC110PD (Loader Backhoe)  2007   47.76        59

[126 rows x 5 columns]

In [9]:
fake_transactions = FakeCompany().MakeFakeTransactions(fake_inventory, fake_customers)

In [10]:
fake_transactions

,Transaction ID,Product Sold,Product ID,Customer ID,Customer Name,Customer Address,Card Number,Card Provider,Payment,Payment Date
40,0-00-201724-5,Intel® HD Graphics 6000,B15ATAV,2811,Michael Wilson,"6297 Weiss Center Suite 746, Duluth, WI 53252",3707 778005 49318,American Express,317.47,01/03/2021
48,0-01-412833-0,Samsung Galaxy Duos,GB88LHB,4775,Ebony Robinson,"243 Crystal Isle, South David, WI 53830",4098 7942 8165 2688,Chase,998.71,08/28/2020
88,0-03-905629-5,John Deere 850J,B58KCZB,4001,Chris Townsend,"92106 Hayes Circle, Williamsbury, WI 54864",4942 6342 5912 4294,Chase,640.76,12/26/2022
35,0-05-882048-5,Nokia Lumia 636,B74XROF,8598,Jorge Torres,"758 Gary Mills Suite 516, East Michaelfort, WI...",3426 700691 27444,MasterCard,380.25,12/08/2021
106,0-06-051325-X,Intel® HD Graphics 6000,B07VRIL,6389,Melanie Cooper,"4629 Jackson Junction Suite 878, West Crystal,...",5294 6899 4970 8220,MasterCard,887.00,01/02/2020
...,...,...,...,...,...,...,...,...,...,...
116,1-939427-09-6,Caterpillar 329F L (Asphalt Paver),94THVA3,4966,Robert Holloway,"05679 Dustin Rapid, Freeport, WI 53149",2338 0057 1323 9158,Visa,22.20,02/01/2022
58,1-968806-22-9,Dressta TD15M LT (Hydraulic Excavator),B27XXRX,3542,Danielle May,"582 Regina Keys, West Springfield, WI 53703",4270 9917 2791 7317,American Express,847.30,12/12/2020
84,1-970249-48-X,Doosan Waves Heavy (Vibratory Smooth Drum Roller),60GSGL1,8349,Damon Harvey,"8895 Alyssa Creek Suite 714, Kristinfort, WI 5...",2352 9611 8163 1055,American Express,976.47,06/07/2022
3,1-9809-5935-8,IMT IMT 560,GB74IEN,5054,Vicki Castillo,"521 Williams Landing Suite 347, Williamsbury, ...",3494 873278 53429,Chase,372.49,02/03/2022
6,1-998557-37-5,Bomag Kennedy Ibm (Hydraulic Excavator),B61KDCS,2243,Nicole Washington,"39191 Greene Forest, Timothyberg, WI 53703",3715 717983 15561,Chase,869.03,06/04/2022