In [1]:
from Make_FakeCompany      import FakeCompany
from Make_FakeAthleticClub import FakeAthleticClub
from Make_FakeMusicStore   import FakeMusicStore

In [2]:
FakeCompany()

Name: Collins-Clements
Category: Limited Liability Limited Partnership
Number of Employees: 290
City:  Thomaschester
State: WY
Zip Code: 82101
Departments: ['Management', 'Accounting', 'Sales', 'Marketing', 'Security', 'IT']
Payroll: dict_keys(['Employee ID', 'First Name', 'Last Name', 'Date Of Birth', 'Phone Number', 'Address', 'City', 'State', 'Zip Code', 'Hire Date', 'Salary', 'Department'])

In [3]:
FakeAthleticClub()

Name: Executive Fitness
Category: Athletic Club
Number of Employees: 15
City:  North Angela
State: KY
Zip Code: 40492
Departments: ['Management', 'Personal Training', 'Coaching Staff', 'Sales and Merchandise', 'Diet and Nutrition']
Payroll: dict_keys(['Employee ID', 'First Name', 'Last Name', 'Date Of Birth', 'Phone Number', 'Address', 'City', 'State', 'Zip Code', 'Hire Date', 'Salary', 'Department'])

In [4]:
FakeMusicStore()

Name: Senator Calculated Music
Category: Music Store
Number of Employees: 157
City:  Tracymouth
State: FL
Zip Code: 32645
Departments: ['Management', 'Record Sales', 'Instrument Sales', 'Instrument Repair and Maintenance', 'Teaching Staff', 'Marketing']
Payroll: dict_keys(['Employee ID', 'First Name', 'Last Name', 'Date Of Birth', 'Phone Number', 'Address', 'City', 'State', 'Zip Code', 'Hire Date', 'Salary', 'Department'])

In [5]:
import pandas as pd

In [6]:
pd.DataFrame(
    FakeMusicStore().MakeFakePayroll()
)

,Employee ID,First Name,Last Name,Date Of Birth,Phone Number,Address,City,State,Zip Code,Hire Date,Salary,Department
0,23187,Christopher,Bishop,04/21/1992,1-638-331-0263,050 Lee Circle Suite 093,Elizabethberg,FL,32161,10/27/2012,70565.28,Instrument Repair and Maintenance
1,15948,David,Wong,09/23/1998,+1-(388)-261-2119,8736 Sandra Curve Apt. 216,Olympia,FL,32161,02/02/2019,68927.00,Instrument Sales
2,20410,Scott,Stewart,11/17/1998,1-247-619-5701,904 Hernandez Haven,Clemmons,FL,32161,02/16/2018,62902.20,Marketing
3,58021,Sarah,Ellis,09/13/1999,(814) 540-9671,58444 Adam Fork,Tracymouth,FL,32161,05/15/2006,60910.56,Teaching Staff
4,26991,Steven,Garcia,10/09/1996,1-672-903-7699,9325 Love Summit Suite 316,Anneborough,FL,33586,12/11/2013,54694.17,Instrument Repair and Maintenance
...,...,...,...,...,...,...,...,...,...,...,...,...
152,27898,Amy,Irwin,08/28/1992,(439) 527-6272,10953 Knight Lake Apt. 759,North Las Vegas,FL,32161,01/18/2011,63226.03,Instrument Sales
153,54588,Barry,Kelley,12/20/1986,409-458-5430,853 Diamond Groves Suite 330,Palisades Park,FL,32161,03/25/2012,61965.23,Teaching Staff
154,42460,John,Smith,05/03/1993,+1-(442)-342-6348,2731 Dudley Hill,Tracymouth,FL,32237,10/07/2007,54020.77,Record Sales
155,66611,Joshua,Hahn,10/22/1991,998-381-4845,0561 Michael Points,Piqua,FL,33862,12/06/2014,68162.48,Instrument Repair and Maintenance
156,30600,Andrea,White,06/23/1994,+1-(096)-768-7052,898 Edward Land,Jacksonside,FL,34283,11/21/2022,72767.51,Instrument Sales

In [7]:
pd.DataFrame(
    FakeMusicStore().MakeFakeCustomers()
)

,First Name,Last Name,Phone Number,Address,City,State,Zip Code,Member ID,Customership Date,Customership Plan
0,Hannah,Kennedy,1-454-509-4139,67796 Carpenter Village Apt. 252,Pinellas Park,FL,34085,4111,02/14/2004,Platinum
1,Emily,Martin,958.878.3647,6131 Abigail Plains Apt. 221,Kingbury,FL,34938,1692,12/13/2016,Gold
2,Bryan,Cervantes,800-040-2781,7695 Pittman Village Apt. 629,Tracymouth,FL,32584,3725,03/27/2010,Gold
3,Natalie,Clark,150-360-1098,585 Olivia Burgs Apt. 431,Tracymouth,FL,34196,3176,07/01/2016,Gold
4,Mallory,Diaz,(351) 651-5781,0811 Willis Fall Suite 809,Christopherton,FL,34357,7691,02/14/2013,Platinum
...,...,...,...,...,...,...,...,...,...,...
288,Nicole,Mckenzie,+1-(192)-996-6625,47567 Sarah Ridges Suite 931,North Jeffrey,FL,34357,2200,10/09/2012,Gold
289,Kevin,Cruz,459.320.0709,675 Vasquez Flat,Dumont,FL,34357,2080,02/18/2015,Platinum
290,Jason,Campbell,567.792.7566,02856 Lauren Green,Bolingbrook,FL,34357,7223,05/15/2018,Gold
291,Jake,Robinson,(158) 676-1145,7150 Travis Gardens,Farmington Hills,FL,34636,3738,12/24/2016,Platinum
292,Maria,Peterson,597.489.4884,95030 Kim Fields,East Cheryl,FL,34377,3823,04/28/2001,Gold