In [1]:
from Make_FakeCompany      import FakeCompany, fake, phony
from Make_FakeAthleticClub import FakeAthleticClub

In [2]:
FakeCompany()

Name: Reynolds-Baird
Category: Limited Liability Limited Partnership
Domain: Reynolds-Baird.org
# of Employees: 868
# of Customers: 479
# of Inventory Items: 479
City:  Bruceville
State: OH
Zip Code: 45113
Departments: [
   'Management',
   'Accounting',
   'Sales',
   'Marketing',
   'Security',
   'IT',
]
Employee Attributes: [
   'Employee ID',
   'First Name',
   'Last Name',
   'Email',
   'Username',
   'Password',
   'Date Of Birth',
   'SSN',
   'Phone Number',
   'Address',
   'City',
   'State',
   'Zip Code',
   'Hire Date',
   'Salary',
   'Department',
]
Customer Attributes: [
   'Customer ID',
   'First Name',
   'Last Name',
   'Email',
   'Username',
   'Password',
   'Phone Number',
   'Address',
   'City',
   'State',
   'Zip Code',
   'Card Provider',
   'Card Number',
   'CVV',
   'Expiration Date',
]
Inventory Attributes: [
   'Stock ID',
    'Product',
    'Year',
    'Price',
    'Quantity',
]

In [3]:
fake_customers = FakeCompany().MakeFakeCustomers()["As_DataFrame"]

In [4]:
fake_customers

,Customer ID,First Name,Last Name,Email,Username,Password,Phone Number,Address,City,State,Zip Code,Card Provider,Card Number,CVV,Expiration Date
0,8001,John,Harrison,bleeding2088@outlook.com,harrisonj,troy28,635-641-9397,3485 Moore Trace Suite 661,Bruceville,OH,43106,Discover,5110 1930 2387 4430,508,02/28
1,1105,Robert,Owens,modules2012@yahoo.com,owensr,subsection_2057,1-066-060-5525,31723 Amy Forges,Glassboro,OH,45539,MasterCard,5331 2740 9403 4360,327,04/26
2,9581,Michele,Payne,competitors2088@gmail.com,paynem,cH7)x!fW,(528) 008-0936,2374 Katelyn Overpass,New Kerrimouth,OH,45549,MasterCard,5463 9567 9708 4136,679,09/26
3,4359,Kenneth,Davis,observed1908@outlook.com,davisk,UL~T'sby,1-013-474-5320,132 Kerr Plaza,Mckenzieville,OH,43106,MasterCard,5359 2099 5873 5287,213,01/26
4,8078,Anna,Smith,example2059@gmail.com,smitha,kerry94,(257) 799-9679,1584 Carter Divide,Rubenville,OH,45189,Chase,4580 3849 7834 9783,641,06/28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,5796,Michelle,Campbell,postcard1836@yahoo.com,campbellm,annamartin,+1-(831)-979-3089,8861 Hensley Corner Suite 244,East Patrickbury,OH,43106,Discover,4963 6207 9881 4523,516,03/24
475,1660,Connor,Miller,dishes2037@yahoo.com,millerc,7|Jz)CJY,1-503-653-6681,48006 Benjamin Fields,Bruceville,OH,45128,Chase,2231 5198 8659 6796,045,02/26
476,1161,Debra,Myers,live2019@gmail.com,myersd,fires_1905,875-330-8042,728 Dalton Circles Suite 602,Murphyport,OH,43106,American Express,4320 7460 7417 0641,732,04/22
477,6619,Justin,Davis,diameter1845@outlook.com,davisj,enhancement_1875,+1-(500)-242-8567,93464 Farley Parkway,Josemouth,OH,45382,Chase,3414 181747 05576,784,05/26
478,5918,Christopher,Carroll,adapters2073@gmail.com,carrollc,jreed,1-183-225-6715,18718 Jennifer Shoals Apt. 603,Birmingham,OH,43940,Discover,2230 9393 2418 1509,463,08/26

In [5]:
fake_inventory = FakeCompany().MakeFakeInventory()["As_DataFrame"]

In [6]:
fake_inventory

,Stock ID,Product,Year,Price,Quantity
0,96JQDW9,Hyundai Piece Urban (Vibratory Smooth Drum Rol...,2000,2334.09,5
1,86UCCE0,Intel® HD Graphics 5000,2014,2326.28,25
2,GB18OPG,NVIDIA GeForce GTX 1080,2003,2335.48,51
3,56BALD1,Samsung Galaxy,2011,4365.09,61
4,B11NISF,Volkswagen Silver,2007,257.72,27
...,...,...,...,...,...
474,88VOUM4,Case IH PUMA 185 PS or CVT (Utility Tractor),2006,103.93,9
475,36MTRQ7,BlackBerry 10 Leap,2015,2742.00,49
476,B11ESTI,RiteWay Jumbo Junior 92ft (Skid Steer Loader),2017,3409.90,70
477,51IZGC0,Valtra Factor Dual (4WD Tractor),2017,4281.61,61
478,26LDIY7,Kobelco Hrs Workplace (Mini Excavator),2014,4686.69,60

In [7]:
fake_transations = FakeCompany().MakeFakeTransactions(fake_inventory, fake_customers)

In [8]:
fake_transations

,Transaction ID,Product Sold,Product ID,Customer ID,Customer Name,Customer Address,Card Number,Card Provider,Payment,Payment Date
83,0-00-646858-6,Nissan Photo,22WVFI5,6302,Matthew Delgado,"157 Stephanie Drive Suite 904, Avondale, OH 43325",5306 1864 4938 6231,Visa,3259.62,07/13/2021
328,0-00-934319-9,Massey Ferguson MF 5445 (2WD Tractor),B60CVWL,4143,Susan Quinn,"57542 Russell Glen, Lake Angel, OH 45387",3785 449293 88164,American Express,4655.56,05/07/2020
80,0-01-418879-1,Daihatsu About,B05RGXI,3249,Dean Nash,"408 Robert Mountains, Bruceville, OH 45797",3410 428496 35909,American Express,3897.97,12/26/2021
287,0-01-456942-6,BlackBerry 10 Passport,B44VZZE,1087,Tiffany Lee,"4533 Kim Corner, Dodge City, OH 43106",5598 6403 0957 9902,Discover,3375.89,03/12/2022
200,0-01-909123-0,Kubota B3350SUHSD (Wheel Loader),B42NYFZ,6985,Logan Evans,"678 Jessica Forges, East Patriciaport, OH 43545",4347 9422 5328 9794,Discover,1073.17,08/13/2022
...,...,...,...,...,...,...,...,...,...,...
335,1-967437-74-2,Mitsubishi MG430-E,68FIGS2,5665,Barbara Fletcher,"386 Alan Drive Suite 272, Port Dawn, OH 44883",3409 551918 10716,Chase,816.05,09/25/2020
184,1-9820-6422-6,Volvo BM Children Facts (Midi Excavator),B96DIVN,3344,Denise Mcdonald,"5764 Fernandez Pine, Kristenmouth, OH 43018",3751 046902 37935,Chase,2540.14,02/18/2020
76,1-9821-2225-0,Kato HD513MR (Utility Tractor),B98WALV,8003,James Gentry,"349 Eric Ports, Timothystad, OH 43106",5483 4662 1093 6660,Visa,2165.70,02/03/2021
1,1-991404-03-4,Intel® HD Graphics 5000,86UCCE0,1105,Robert Owens,"31723 Amy Forges, Glassboro, OH 45539",5331 2740 9403 4360,MasterCard,2326.28,03/06/2021
306,1-991994-88-5,Burch 260-1036,B45CIBJ,4934,John Whitehead,"71028 Collins Estate Apt. 539, West Jordan, OH...",4756 6493 9668 4633,Discover,3426.34,01/24/2021

In [9]:
fake_transations.merge(fake_customers)

,Transaction ID,Product Sold,Product ID,Customer ID,Customer Name,Customer Address,Card Number,Card Provider,Payment,Payment Date,...,Email,Username,Password,Phone Number,Address,City,State,Zip Code,CVV,Expiration Date
0,0-00-646858-6,Nissan Photo,22WVFI5,6302,Matthew Delgado,"157 Stephanie Drive Suite 904, Avondale, OH 43325",5306 1864 4938 6231,Visa,3259.62,07/13/2021,...,windows1841@outlook.com,delgadom,persons_1978,(389) 425-4487,157 Stephanie Drive Suite 904,Avondale,OH,43325,572,12/27
1,0-00-934319-9,Massey Ferguson MF 5445 (2WD Tractor),B60CVWL,4143,Susan Quinn,"57542 Russell Glen, Lake Angel, OH 45387",3785 449293 88164,American Express,4655.56,05/07/2020,...,representations1858@yahoo.com,quinns,tuckeremily,679.893.2003,57542 Russell Glen,Lake Angel,OH,45387,871,11/23
2,0-01-418879-1,Daihatsu About,B05RGXI,3249,Dean Nash,"408 Robert Mountains, Bruceville, OH 45797",3410 428496 35909,American Express,3897.97,12/26/2021,...,burton2062@gmail.com,nashd,wiseann,+1-(378)-719-8628,408 Robert Mountains,Bruceville,OH,45797,479,07/25
3,0-01-456942-6,BlackBerry 10 Passport,B44VZZE,1087,Tiffany Lee,"4533 Kim Corner, Dodge City, OH 43106",5598 6403 0957 9902,Discover,3375.89,03/12/2022,...,why1982@gmail.com,leet,R>-MHId=,1-415-572-2395,4533 Kim Corner,Dodge City,OH,43106,160,08/24
4,0-01-909123-0,Kubota B3350SUHSD (Wheel Loader),B42NYFZ,6985,Logan Evans,"678 Jessica Forges, East Patriciaport, OH 43545",4347 9422 5328 9794,Discover,1073.17,08/13/2022,...,kruger1925@gmail.com,evansl,reed_2037,+1-(170)-906-9151,678 Jessica Forges,East Patriciaport,OH,43545,791,10/26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,1-967437-74-2,Mitsubishi MG430-E,68FIGS2,5665,Barbara Fletcher,"386 Alan Drive Suite 272, Port Dawn, OH 44883",3409 551918 10716,Chase,816.05,09/25/2020,...,errors1899@yahoo.com,fletcherb,dkim,(941) 305-8758,386 Alan Drive Suite 272,Port Dawn,OH,44883,176,02/27
475,1-9820-6422-6,Volvo BM Children Facts (Midi Excavator),B96DIVN,3344,Denise Mcdonald,"5764 Fernandez Pine, Kristenmouth, OH 43018",3751 046902 37935,Chase,2540.14,02/18/2020,...,rate2004@yahoo.com,mcdonaldd,alphabetical_1866,1-926-434-4735,5764 Fernandez Pine,Kristenmouth,OH,43018,858,05/23
476,1-9821-2225-0,Kato HD513MR (Utility Tractor),B98WALV,8003,James Gentry,"349 Eric Ports, Timothystad, OH 43106",5483 4662 1093 6660,Visa,2165.70,02/03/2021,...,encourage2096@outlook.com,gentryj,cbecker,668-170-4478,349 Eric Ports,Timothystad,OH,43106,317,03/24
477,1-991404-03-4,Intel® HD Graphics 5000,86UCCE0,1105,Robert Owens,"31723 Amy Forges, Glassboro, OH 45539",5331 2740 9403 4360,MasterCard,2326.28,03/06/2021,...,modules2012@yahoo.com,owensr,subsection_2057,1-066-060-5525,31723 Amy Forges,Glassboro,OH,45539,327,04/26
478,1-991994-88-5,Burch 260-1036,B45CIBJ,4934,John Whitehead,"71028 Collins Estate Apt. 539, West Jordan, OH...",4756 6493 9668 4633,Discover,3426.34,01/24/2021,...,add2083@outlook.com,whiteheadj,MI-b**-b,+1-(699)-025-5592,71028 Collins Estate Apt. 539,West Jordan,OH,43106,117,10/28