In [1]:
from Make_FakeCompany      import FakeCompany, fake, phony
from Make_FakeAthleticClub import FakeAthleticClub

In [2]:
FakeCompany()

Name: Evans Inc
Category: Limited Partnership
Domain: Evans-Inc.net
Number of Employees: 944
City:  None
State: NC
Zip Code: 27812
Departments: ['Management', 'Accounting', 'Sales', 'Marketing', 'Security', 'IT']
Employees: dict_keys(['As_OrderedDict', 'As_DataFrame'])

In [3]:
FakeCompany().MakeFakeEmployees()["As_DataFrame"]

,Employee ID,First Name,Last Name,Email,Username,Password,Date Of Birth,SSN,Phone Number,Address,City,State,Zip Code,Hire Date,Salary,Department
0,7585150,Anna,Payne,anna.payne@Evans-Inc.org,paynea,#bGyCVg_n5,10/20/1976,399-02-0627,+1-(581)-706-6049,0777 Kelly Squares,Anthonyland,NC,28740,10/11/2015,110512.25,Management
1,5545811,Anthony,Miller,anthony.miller@Evans-Inc.org,millera,SL23nqCx$#,03/10/1961,875-81-3494,883-237-3171,1675 Collins Fords Apt. 831,None,NC,28740,09/09/2002,104630.11,Marketing
2,1446343,Kyle,Reed,kyle.reed@Evans-Inc.org,reedk,umS4R39p#y,10/16/1974,738-04-0240,(287) 068-9540,10647 Veronica Way,None,NC,27825,04/19/2010,111694.60,Sales
3,8494800,Lisa,Lane,lisa.lane@Evans-Inc.org,lanel,2_&5K5q6n7,12/28/1976,842-22-1039,+1-(186)-321-3961,71336 Lisa Point,St. George,NC,27741,05/13/2019,89626.50,Security
4,540557,Jennifer,Johnson,jennifer.johnson@Evans-Inc.org,johnsonj,!vbLqpJzk8,04/24/1967,704-53-7398,887.734.0536,638 Burnett Camp Apt. 078,Port Juliehaven,NC,28005,08/24/2016,101256.85,IT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,1974652,Lori,Fowler,lori.fowler@Evans-Inc.org,fowlerl,_AQzw!bNd6,07/12/1974,626-25-1450,887-099-7976,30914 Mcbride Island,Mclaughlinmouth,NC,28740,03/26/2000,89387.69,Security
940,759330,Blake,Cox,blake.cox@Evans-Inc.org,coxb,JH(72HnjVL,09/24/1989,719-15-2785,1-095-609-0961,433 Logan Spurs,None,NC,28571,07/21/2000,85909.09,Marketing
941,7371760,Christopher,Hunter,christopher.hunter@Evans-Inc.org,hunterc,)gSsY8pT48,12/24/1963,805-57-0436,1-692-287-8872,5232 Sweeney Valley,None,NC,28740,05/23/2012,69550.17,Accounting
942,8805446,Alyssa,Miller,alyssa.miller@Evans-Inc.org,millera,@Q6WZuS6du,05/04/1961,415-15-1837,1-876-049-5226,7697 Butler Orchard,East St. Louis,NC,27643,01/30/2002,111094.02,Marketing
943,4718299,Patrick,Miller,patrick.miller@Evans-Inc.org,millerp,soJPII8j_4,09/17/1973,256-15-2453,+1-(709)-892-8657,001 Michael Mews Apt. 108,West Elizabeth,NC,28740,03/27/2021,64890.97,Management

In [4]:
fake_customers = FakeCompany().MakeFakeCustomers()["As_DataFrame"]

In [5]:
fake_inventory = FakeCompany().MakeFakeInventory()["As_DataFrame"]

In [6]:
fake_customers

,Customer ID,First Name,Last Name,Email,Username,Password,Phone Number,Address,City,State,Zip Code,Card Provider,Card Number,CVV,Expiration Date
0,4474,Melody,Jefferson,contracting1990@yahoo.com,jeffersonm,#/nwx=f%,034-619-3805,80470 Lynch Hill,None,NC,27361,Chase,3713 780774 36237,915,11/26
1,5924,Matthew,Taylor,festivals1910@outlook.com,taylorm,CR;w(7'X,(998) 770-9824,302 Howard Union Apt. 213,Lake Amyside,NC,28248,MasterCard,2576 3210 8107 4452,753,11/28
2,1938,Robin,Harris,sympathy1965@outlook.com,harrisr,diet_1941,(772) 101-3999,60237 Joyce Ports Apt. 601,West Jason,NC,27548,Discover,4092 7880 9655 2162,277,10/23
3,6292,Erica,Gonzalez,wheel2074@outlook.com,gonzaleze,"IxX@n,dq",674-643-5226,62157 Jesse Street,Sunrise,NC,28137,Visa,4777 0349 0712 2479,247,09/28
4,2938,Daniel,Fleming,drunk1971@gmail.com,flemingd,jones_1807,799-253-3103,03728 Mack Turnpike Apt. 098,Lake Angelaland,NC,28248,American Express,4491 0242 0433 2876,769,11/25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2761,Nathaniel,Orr,thermal1975@gmail.com,orrn,qbrown,017.287.6471,028 Amanda Centers Suite 227,Beaumont,NC,28248,MasterCard,4459 6468 3260 2682,410,06/25
170,5108,Mary,Sanders,monroe2053@yahoo.com,sandersm,michael62,592.981.7498,2548 Jordan Road,Brandyside,NC,28248,Chase,2642 2848 0848 7045,734,05/24
171,1338,Samuel,Ray,fleet1927@outlook.com,rays,inch_1936,1-533-121-0657,0167 Shea Stream,None,NC,27585,American Express,3489 693882 73978,626,08/25
172,2235,Ryan,Bailey,itself1999@outlook.com,baileyr,towers_1989,500.154.5819,466 Edward Street,West Thomasshire,NC,28248,MasterCard,4888 8441 4061 3068,996,06/28
173,4374,Pamela,Hughes,gothic1921@yahoo.com,hughesp,2wODaK(s,+1-(397)-051-9196,59355 Andrea Extension,None,NC,27083,Visa,3402 164623 97671,019,07/25

In [7]:
fake_inventory

,Stock Number,Product,Year,Price
0,GB92IAIL26499038035762,Samsung Galaxy Active Neo,2002,2501.63
1,GB75SISB54881794083447,IntelÂ® HD Graphics 5000,2016,3075.30
2,GB12AQGE10767713654303,Hamm HD PLUS 90 VV (Swather),2000,1664.67
3,GB30QCWJ20831006757483,IntelÂ® Irisâ„¢ Graphics 6100,2014,3076.88
4,GB28FTLQ68156018096115,IntelÂ® HD Graphics 6000,2004,4051.29
...,...,...,...,...
56,GB79QVLP09035576690674,Ferrari Title,2002,3251.86
57,GB82OSBW82653572246912,Massey Ferguson MF 3435 C,2018,608.20
58,GB11IMOQ96372661390149,AMD Radeon R9 M485X,2002,4095.69
59,GB87RJRD54491945813064,Caterpillar Maintained Driven (Multi Terrain L...,2014,7.40
60,GB57MNEE83993210927728,Caterpillar After Eve (Hydraulic Excavator),2010,3832.04