In [1]:
from Make_FakeCompany      import FakeCompany, fake, phony
from Make_FakeAthleticClub import FakeAthleticClub

In [2]:
import pandas as pd

In [3]:
FakeCompany()

Name: Miller Ltd
Category: Limited Liability Limited Partnership
Domain: Miller-Ltd.org
Number of Employees: 499
City:  None
State: NH
Zip Code: 03718
Departments: ['Management', 'Accounting', 'Sales', 'Marketing', 'Security', 'IT']
Employees: odict_keys(['Employee ID', 'First Name', 'Last Name', 'Email', 'Username', 'Password', 'Date Of Birth', 'SSN', 'Phone Number', 'Address', 'City', 'State', 'Zip Code', 'Hire Date', 'Salary', 'Department'])

In [4]:
pd.DataFrame(
    FakeCompany().MakeFakeEmployees()
)

,Employee ID,First Name,Last Name,Email,Username,Password,Date Of Birth,SSN,Phone Number,Address,City,State,Zip Code,Hire Date,Salary,Department
0,6666441,Jessica,Lopez,jessica.lopez@Miller-Ltd.com,lopezj,K%cW05FfWL,09/09/1964,002-76-2967,1-717-744-0788,74478 Natalie Rest,New Williamfort,NH,03645,12/18/2017,117791.89,Sales
1,3415003,Anthony,King,anthony.king@Miller-Ltd.com,kinga,_oV4P5u&39,05/04/1961,408-30-2494,(098) 511-0822,65589 Veronica Crossroad,Joycefurt,NH,03093,11/30/2005,117188.60,Security
2,8503932,Donna,Robinson,donna.robinson@Miller-Ltd.com,robinsond,q_WB4Banfq,09/03/1969,362-87-0550,1-384-162-0638,645 Karen Knolls Apt. 205,None,NH,03830,07/20/2015,71814.34,Accounting
3,3693468,Daniel,Hansen,daniel.hansen@Miller-Ltd.com,hansend,^UpH5Ee$)3,09/02/1961,017-15-6352,314-258-0592,43247 Mcgee Corners Suite 058,Marshall,NH,03586,08/20/2022,109322.10,Management
4,6629889,Samantha,Stevens,samantha.stevens@Miller-Ltd.com,stevenss,&3mVG28bTN,02/14/1987,888-99-6948,388.759.7157,5929 Kathy Ferry,Rachelfort,NH,03848,04/25/2012,52432.04,Accounting
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,6266313,Kelly,Kim,kelly.kim@Miller-Ltd.com,kimk,BQI9M#zkD*,06/16/1965,702-58-5021,196-575-8175,04684 Andrade Circle Apt. 287,Normal,NH,03645,07/08/2011,121683.37,IT
495,598462,Thomas,Davis,thomas.davis@Miller-Ltd.com,davist,+mYE2hIjX(,07/11/1982,558-05-1162,1-348-949-8449,0162 Joseph Walk,Springville,NH,03126,05/06/2004,61659.26,Sales
496,6139035,Emma,Matthews,emma.matthews@Miller-Ltd.com,matthewse,^8)K1cHZQ%,08/09/1962,058-40-1670,1-325-360-9109,5193 Shepherd Track,Fairhope,NH,03645,11/11/2020,114096.59,Accounting
497,3493718,William,Bruce,william.bruce@Miller-Ltd.com,brucew,bB&_70Lc7j,07/14/1974,609-87-9355,1-019-992-0907,174 Eric Orchard Suite 880,West Valley City,NH,03645,02/02/2022,78690.34,Security
498,4615956,Cassandra,Reyes,cassandra.reyes@Miller-Ltd.com,reyesc,FnU77UFd1$,06/13/1973,397-27-1991,1-679-920-6441,86776 Black Mill,Dodge City,NH,03500,05/08/2020,54600.17,Security

In [5]:
pd.DataFrame(
    FakeCompany().MakeFakeCustomers()
)

,Customer ID,First Name,Last Name,Email,Username,Password,Phone Number,Address,City,State,Zip Code,Card Provider,Card Number,CVV,Expiration Date
0,3834,Brenda,Lopez,dry2008@outlook.com,lopezb,NHg`'QNP,1-616-805-9194,281 Cisneros Valley Suite 863,Leahland,NH,03694,Discover,3765 692304 35778,326,07/25
1,4327,Brian,Mcguire,before1935@yahoo.com,mcguireb,pughrobert,1-194-105-9636,930 Elizabeth Lake,Crossfurt,NH,03051,MasterCard,5453 2416 9587 8265,975,08/27
2,5856,Michael,Nelson,specials1999@yahoo.com,nelsonm,extraction_1861,(972) 318-9807,585 Gordon Rue Apt. 571,Martinezmouth,NH,03121,Chase,3723 597933 07760,587,09/24
3,5695,Tiffany,Dominguez,peace1913@outlook.com,dominguezt,longtina,682.327.0811,026 Todd Gardens,Stevenborough,NH,03121,Chase,5217 5212 7933 8167,151,04/24
4,7200,Omar,Woods,ant2066@gmail.com,woodso,bgutierrez,223.550.2217,169 Jamie Plains Apt. 620,Smithstad,NH,03347,American Express,4552 8505 0180 3714,169,01/23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
630,7238,Brandon,Hill,beaches1838@outlook.com,hillb,jkirk,(649) 555-9454,2580 Rachel Shores,Kalamazoo,NH,03781,MasterCard,4498 3659 4770 1429,882,09/22
631,4784,James,Gomez,eclipse2027@outlook.com,gomezj,potterrobin,1-241-856-2593,2570 Andrade Centers Suite 720,Annmouth,NH,03121,American Express,3701 976680 78633,692,03/22
632,1551,John,Graves,aerial1989@gmail.com,gravesj,4C=1z@{h,(865) 757-3494,353 Virginia Key Apt. 658,None,NH,03878,Visa,3406 234919 73861,428,02/27
633,7442,Nicole,Paul,dot1837@outlook.com,pauln,matthewhansen,+1-(406)-116-7474,851 Brandy Falls,Douglasport,NH,03121,Chase,4814 4382 5695 9875,319,01/24
634,7326,Julie,Johnson,drug1955@outlook.com,johnsonj,certificates_2016,313.678.7361,12589 Maxwell Trafficway,None,NH,03754,MasterCard,3748 745319 05624,685,01/22

In [6]:
pd.DataFrame(
    FakeCompany().MakeFakeInventory()
)

,Stock Number,Product,Year,Price
0,GB35RLRC32100783077983,NVIDIA GeForce GTX 1080,2014,2765.76
1,GB71DRGH06980879411942,Apple iPhone 7 Plus,2008,4283.26
2,GB98ROUK94258733522422,Claas LEXION 740TT (Hydraulic Excavator),2002,2794.41
3,GB07LMLY67315143842862,Jonyang Designed Optical (Crawler Tractor),2011,4405.73
4,GB05QENX39815120168886,Nokia Lumia 820,2018,1340.72
...,...,...,...,...
515,GB28VTCR48144444382081,Claas Industry Downloaded (4WD Tractor),2003,3157.74
516,GB25JRSV33879566859336,Ezee-On 5539-58-16-10 (4WD Tractor),2017,2040.11
517,GB54PSIN68255223264445,NVIDIA GeForce GTX 880M,2002,2661.38
518,GB05AISO61482428548034,Intel® Iris™ Pro Graphics 580,2015,736.56
519,GB14VNGE31269701762715,NVIDIA GeForce GTX 980,2013,49.63