In [11]:
from Make_FakeCompany   import FakeCompany

In [12]:
fake_company = FakeCompany()

In [32]:
employees = fake_company.MakeFakeEmployees()['As_DataFrame']

In [36]:
employees

,Employee ID,First Name,Last Name,Email,Username,Password,Date Of Birth,SSN,Phone Number,Address,City,State,Zip Code,Hire Date,Salary,Department
0,5394182,Lori,Hardin,lori.hardin@Vincent-Group.com,hardinl,^wW+Jh)z5E,09/26/1960,615-89-6240,338-779-7249,5624 Manuel Glens Apt. 473,Alanview,DC,20011,05/26/2000,64878.01,Security
1,1369890,Brittany,Boyd,brittany.boyd@Vincent-Group.com,boydb,$EIh5Nj9+N,08/22/1977,224-47-6993,228.678.6075,775 Levy Camp Suite 336,Tarpon Springs,DC,20011,02/17/2012,117912.52,Marketing
2,7531256,David,Dorsey,david.dorsey@Vincent-Group.com,dorseyd,zo6C&@wD$!,05/13/1962,769-61-5325,176-236-3605,823 Joseph Light,Mariahshire,DC,20002,07/11/2004,58761.95,Marketing
3,6235616,Clayton,Brown,clayton.brown@Vincent-Group.com,brownc,@#G3ZTfPs8,05/22/1977,112-35-3021,1-312-608-3037,85069 Walker Causeway Suite 027,Francisside,DC,20026,03/03/2003,108253.30,IT
4,8136082,Gerald,Ward,gerald.ward@Vincent-Group.com,wardg,lw5fKTiG_0,07/26/1965,298-93-1451,166.033.7345,640 Jacob Grove,Michaelport,DC,20008,07/20/2016,115172.39,Accounting
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581,4128602,Peter,Rodriguez,peter.rodriguez@Vincent-Group.com,rodriguezp,pL1VAQtcj(,09/16/1985,408-28-0025,(767) 382-1710,0194 Roberto Gateway Suite 868,Prestonland,DC,20032,06/09/2003,124700.68,Security
582,4344563,Katie,Simmons,katie.simmons@Vincent-Group.com,simmonsk,(@4PKRqbk$,11/06/1982,070-21-9329,907-929-7960,14543 Tracy Inlet,Mission,DC,20011,11/20/2016,61556.13,IT
583,111958,Linda,Cox,linda.cox@Vincent-Group.com,coxl,%51NVf%lRU,04/05/1995,582-32-8433,739.541.8680,12011 Nelson Plain,Daphne,DC,20007,03/18/2022,96508.98,Security
584,4425105,Pamela,Kim,pamela.kim@Vincent-Group.com,kimp,_t)5Qk$S$2,02/27/1986,508-74-8967,454-002-5574,117 Ricardo Prairie,South Jordan,DC,20011,12/13/2008,88813.16,Accounting
585,8366036,Ann,Orozco,ann.orozco@Vincent-Group.com,orozcoa,v0Yvvcyh&G,10/24/1995,557-09-9911,341.563.3280,5517 Tiffany Land,Whiteport,DC,20012,12/01/2005,85532.22,Accounting

In [31]:
fake_employees = fake_company.MakeFakeEmployees()['As_DataFrame']

In [8]:
fake_employees.loc[fake_employees['Department'] == 'Sales']

,Employee ID,First Name,Last Name,Email,Username,Password,Date Of Birth,SSN,Phone Number,Address,City,State,Zip Code,Hire Date,Salary,Department
0,2065623,Mark,Branch,mark.branch@Vincent-Group.net,branchm,MgC0wvAe#T,12/03/1971,414-46-6195,+1-(620)-149-9325,38589 Pruitt Oval Apt. 647,New Carol,DC,20014,05/31/2007,82158.00,Sales
6,4235356,Samantha,Schmidt,samantha.schmidt@Vincent-Group.net,schmidts,QjU(1TKsU%,02/22/1990,687-64-7488,055-416-0336,29178 Johnson Camp,Mariahshire,DC,20031,10/11/2007,53327.84,Sales
14,4651507,Ian,Hooper,ian.hooper@Vincent-Group.net,hooperi,&%49R)lKd1,11/27/1960,164-86-5665,401.811.6804,184 Joshua Ville,Arnold,DC,20010,08/26/2016,69481.56,Sales
17,7468213,Michael,Perry,michael.perry@Vincent-Group.net,perrym,&261OXxn$A,12/23/1985,765-34-9558,1-120-849-6999,9476 Weaver Mews Apt. 273,Vincennes,DC,20010,11/22/2005,52830.44,Sales
18,5766913,Jane,Anderson,jane.anderson@Vincent-Group.net,andersonj,*Y2JqWzsA%,12/10/1990,852-34-8995,807-751-5570,264 Cheyenne Station,West Lafayette,DC,20037,03/21/2022,114868.49,Sales
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,1388018,Emily,Fisher,emily.fisher@Vincent-Group.net,fishere,)T2E#FLt@G,10/20/1959,680-86-9272,+1-(947)-921-1454,0251 Brian Circle Apt. 638,Cookeville,DC,20032,08/31/2008,85348.64,Sales
539,1159618,Jennifer,Jones,jennifer.jones@Vincent-Group.net,jonesj,t9L)E6Hg%D,08/28/1983,395-98-3291,(597) 754-3909,08642 Nicholas Spur,Mariahshire,DC,20010,03/20/2017,101701.89,Sales
543,4350016,Michael,Miranda,michael.miranda@Vincent-Group.net,mirandam,@1leNjpsza,08/16/1994,601-51-5620,777.899.9210,49613 Tyler Greens Apt. 093,West Mark,DC,20002,05/29/2004,51583.72,Sales
566,4550730,Steven,Lawson,steven.lawson@Vincent-Group.net,lawsons,1E1Xft3b*c,11/05/1959,530-89-7220,+1-(699)-900-9296,4445 Johnny Expressway Apt. 831,Mariahshire,DC,20010,02/27/2015,53041.60,Sales
582,3706605,Martha,Daniel,martha.daniel@Vincent-Group.net,danielm,qQ8RUlxT@6,06/23/1979,217-28-1616,1-287-730-4366,62243 Pierce River,Mariahshire,DC,20022,07/07/2002,108283.65,Sales

In [3]:
fake_company

Name: Marshall PLC
Category: Corporation
Domain: Marshall-PLC.com
# of Employees: 536
# of Customers: 400
# of Inventory Items: 155
City:  New Stephen
State: NM
Zip Code: 87356
Departments: [
   'Management',
   'Accounting',
   'Sales',
   'Marketing',
   'Security',
   'IT',
]
Employee Attributes: [
   'Employee ID',
   'First Name',
   'Last Name',
   'Email',
   'Username',
   'Password',
   'Date Of Birth',
   'SSN',
   'Phone Number',
   'Address',
   'City',
   'State',
   'Zip Code',
   'Hire Date',
   'Salary',
   'Department',
]
Customer Attributes: [
   'Customer ID',
   'First Name',
   'Last Name',
   'Email',
   'Username',
   'Password',
   'Phone Number',
   'Address',
   'City',
   'State',
   'Zip Code',
   'Card Provider',
   'Card Number',
   'CVV',
   'Expiration Date',
]
Inventory Attributes: [
   'Stock ID',
    'Product',
    'Year',
    'Price',
    'Stock Quantity',
]

In [4]:
fake_company.MakeFakeEmployees()["As_DataFrame"]

,Employee ID,First Name,Last Name,Email,Username,Password,Date Of Birth,SSN,Phone Number,Address,City,State,Zip Code,Hire Date,Salary,Department
0,6152904,Daniel,Carpenter,daniel.carpenter@Marshall-PLC.net,carpenterd,a5wBzzhg+F,05/19/1975,476-30-6680,744.253.2066,798 Shelton Rest,New Stephen,NM,87356,07/09/2001,59117.09,Security
1,7109374,Tiffany,Hurst,tiffany.hurst@Marshall-PLC.net,hurstt,$j8YMqsqb%,06/02/1974,067-01-8873,(013) 271-4533,235 Reynolds Field,New Stephen,NM,87529,09/22/2001,95306.78,Sales
2,1471750,Angela,Cohen,angela.cohen@Marshall-PLC.net,cohena,u0N6Wz18y!,02/02/1980,461-82-0972,1-715-378-0351,3356 Cynthia Estates,Johnsonport,NM,87356,03/07/2017,113863.97,Management
3,7704082,Sandra,King,sandra.king@Marshall-PLC.net,kings,ee3LPKdiy!,04/03/1976,544-13-5412,601.377.0307,0645 Bethany Neck Apt. 614,New Stephen,NM,87173,11/30/2018,119088.41,Accounting
4,5153620,Nancy,Daniels,nancy.daniels@Marshall-PLC.net,danielsn,@RU8ZuHmd6,04/01/1980,621-36-9962,+1-(424)-507-1699,602 Anthony Glen Suite 849,New Briantown,NM,88249,08/30/2019,93123.52,Sales
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,770242,Rebecca,Park,rebecca.park@Marshall-PLC.net,parkr,Gkh&sBJo&3,06/17/1983,302-76-9399,1-283-048-3413,9915 Moore Port Suite 079,Heathermouth,NM,87356,08/15/2004,117722.14,Accounting
532,18571,Martin,Haynes,martin.haynes@Marshall-PLC.net,haynesm,6GGG0&uhK%,10/07/1968,237-09-2992,846.231.0479,41082 Margaret Lodge,East Sethborough,NM,87356,06/17/2000,95861.17,IT
533,1259903,Ana,Bennett,ana.bennett@Marshall-PLC.net,bennetta,i+cA3MnN)l,08/24/1959,269-82-6040,868.311.2414,987 Jacqueline Vista,Choibury,NM,87808,09/04/2020,124720.46,IT
534,3082219,Michael,Todd,michael.todd@Marshall-PLC.net,toddm,yS%IO4Tw6+,12/11/1986,770-11-2026,1-704-817-5762,66982 Bell Overpass Apt. 242,New Stephen,NM,87356,07/28/2015,68000.29,Marketing
535,7705669,Robert,Schmidt,robert.schmidt@Marshall-PLC.net,schmidtr,@6XYXy(Z*l,03/02/1985,844-65-0490,540-283-5823,124 Daniel Prairie,New Stephen,NM,87356,04/05/2011,113759.02,Sales

In [5]:
fake_company.MakeFakeCustomers()["As_DataFrame"]

,Customer ID,First Name,Last Name,Email,Username,Password,Phone Number,Address,City,State,Zip Code,Card Provider,Card Number,CVV,Expiration Date
0,2475,Robert,Hall,spotlight2007@yahoo.com,hallr,reviewing_1848,875-573-9998,652 Kathryn Parkways Apt. 301,New Stephen,NM,87356,MasterCard,4999 0348 0787 8925,092,10/25
1,7251,Robert,Cain,usda1986@gmail.com,cainr,"1/.&""e@9",+1-(454)-184-4838,57684 Neal Mill Apt. 752,New Stephen,NM,87356,Discover,3756 001664 15913,133,07/22
2,8097,Kyle,Miller,january1970@yahoo.com,millerk,U+SLu8[Q,022.938.0601,81360 Donald Crescent Suite 124,New Stephen,NM,88213,Chase,4530 6149 7919 3520,447,07/27
3,6168,Chad,Johnson,volunteers1936@hotmail.com,johnsonc,zacharymiles,387-788-9403,363 Sherri Underpass,Tullahoma,NM,88018,Discover,4605 3118 5544 0469,593,10/25
4,1720,David,Nguyen,believes1840@outlook.com,nguyend,jeremiah39,+1-(108)-951-8519,013 Meghan Turnpike,Sycamore,NM,87306,Visa,4036 9856 5358 0722,556,10/26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,1181,Benjamin,Barry,posing1821@outlook.com,barryb,wendy20,(540) 229-5077,4636 Boyd Parkway Apt. 166,Waukegan,NM,87735,Visa,3756 812693 00624,238,01/26
396,7403,Pamela,Bird,currency1883@gmail.com,birdp,heath_2098,119.937.1995,424 Salas Crescent Apt. 801,Huber Heights,NM,87315,American Express,3756 336713 78763,937,05/24
397,7422,Emily,Houston,homeless2097@hotmail.com,houstone,really_1859,153.216.1050,09600 Mark Corner,New Stephen,NM,87356,Chase,2539 4654 5287 0448,768,06/26
398,1819,Brittany,Figueroa,connected1949@outlook.com,figueroab,pJpJ2Z4Y,1-171-448-1806,243 Morris Parkway,New Stephen,NM,88347,Chase,2567 4045 8496 6597,128,05/27
399,8818,Tyler,Sweeney,determining1855@hotmail.com,sweeneyt,jameskaufman,114-516-5565,542 Johnston Road,Harrisonfurt,NM,87356,American Express,3497 254028 11683,134,11/23

In [6]:
fake_company.MakeFakeInventory()["As_DataFrame"]

,Stock ID,Product,Year,Price,Stock Quantity
0,B12QUWU,Intel® Iris™ Graphics 5100,2018,85.31,42
1,B76CCJU,Intel® Iris™ Pro Graphics 580,2017,918.50,20
2,GB73BCG,YTO Logged Six (Midi Excavator),2012,385.60,64
3,B88MOBS,AMD Radeon R9 M395,2017,33.82,5
4,GB98PQH,Versatile 895 (4WD Tractor),2009,645.37,10
...,...,...,...,...,...
150,22GBFY9,John Deere Fixed Introduced (Wheel Loader),2015,228.33,32
151,GB63ZYS,NVIDIA GeForce GTX 980,2002,42.30,27
152,GB94QAS,Intel® Iris™ Graphics 5100,2012,734.78,70
153,GB88QZV,John Deere Concern Debian (MFWD Tractor),2002,533.41,22
154,GB33ASA,Volkswagen Bob,2017,892.72,25

In [7]:
fake_company.MakeFakeTransactions(

        fake_company.MakeFakeInventory()["As_DataFrame"],
        fake_company.MakeFakeCustomers()["As_DataFrame"] 

)

,Transaction ID,Product Sold,Product ID,Customer ID,Customer Name,Customer Address,Card Number,Card Provider,Payment,Quantity Sold,Payment Date
36,0-00-266540-9,NVIDIA GeForce GTX 880M,GB23TRK,8396,Melissa Lucas,"019 Rodriguez Prairie, Federal Way, NM 87356",2620 9617 2470 5057,Discover,326.77,1.0,01/10/2022
142,0-00-540393-6,Morgan Sharon,GB88ZMZ,5186,Sabrina Thompson,"586 Cathy Groves Apt. 807, Owasso, NM 87630",3764 342714 80060,Discover,651.31,1.0,07/11/2020
2,0-04-130086-6,Case IH PUMA 200 POWERSHIFT (Wheel Loader),GB45TIL,7387,Elizabeth Davis,"9011 Lauren Crossroad Apt. 735, New Stephen, N...",3767 674641 26507,Discover,993.18,1.0,04/29/2021
33,0-04-608940-3,Nokia Lumia 800,09HPFC8,2326,Janet Buckley,"1431 Maldonado Gardens Suite 443, South Peters...",3737 319144 12761,MasterCard,226.78,3.0,02/13/2022
38,0-04-655399-1,Sumitomo SH135XU-3B,GB56VZY,1025,Janet Odom,"1056 Ashley Village, Faribault, NM 87002",3499 524263 99921,Discover,723.58,4.0,06/16/2021
...,...,...,...,...,...,...,...,...,...,...,...
75,1-9761-4863-4,BlackBerry 10 Leap,GB92CRW,2622,Julia Castillo,"04708 Bradley Village, Fullermouth, NM 87356",5485 9629 2106 0467,MasterCard,742.23,2.0,10/16/2021
11,1-9794-6247-X,Liebherr LR614,B58YQDH,8565,Jillian Cox,"084 Rodriguez Mews, Pleasanton, NM 87459",2566 0046 3823 1377,Chase,643.07,1.0,06/05/2022
65,1-9851-9230-6,Nexus 7,20TNAO6,6141,Amber Kim,"87210 Paige Lane Apt. 307, Mint Hill, NM 87085",4464 3247 5157 5635,Chase,371.28,2.0,04/20/2021
66,1-988863-59-7,John Deere Wants Stored (Hydraulic Excavator),GB57BXB,1402,Luis Sanford,"471 Aaron Trafficway, New Stephen, NM 87837",4747 0784 5800 3486,Visa,941.45,1.0,07/14/2022
78,1-992979-03-0,Samsung Galaxy S Plus,GB57NXJ,1763,Jack Garcia,"4262 Kara Terrace Apt. 037, Bethel Park, NM 87387",5212 9034 3440 2242,Visa,628.80,2.0,12/08/2022