In [1]:
from Make_FakeCompany   import FakeCompany

In [2]:
fake_company = FakeCompany(employee_size=300,customer_size=196, inventory_size=112)

In [3]:
fake_company

Name: Jones and Sons
Category: Limited Partnership
Domain: Jones-and-Sons.net
# of Employees: 300
# of Customers: 196
# of Inventory Items: 112
City:  West Holly
State: TN
Zip Code: 37279
Departments: [
   'Management',
   'Accounting',
   'Sales',
   'Marketing',
   'Security',
   'IT',
]
Employee Attributes: [
   'Employee ID',
   'First Name',
   'Last Name',
   'Email',
   'Username',
   'Password',
   'Date Of Birth',
   'SSN',
   'Phone Number',
   'Address',
   'City',
   'State',
   'Zip Code',
   'Hire Date',
   'Salary',
   'Department',
]
Customer Attributes: [
   'Customer ID',
   'First Name',
   'Last Name',
   'Email',
   'Username',
   'Password',
   'Phone Number',
   'Address',
   'City',
   'State',
   'Zip Code',
   'Card Provider',
   'Card Number',
   'CVV',
   'Expiration Date',
]
Inventory Attributes: [
   'Stock ID',
    'Product',
    'Year',
    'Price',
    'Stock Quantity',
]

In [4]:
fake_employess = fake_company.MakeFakeEmployees()["As_DataFrame"]

In [5]:
fake_employess

,Employee ID,First Name,Last Name,Email,Username,Password,Date Of Birth,SSN,Phone Number,Address,City,State,Zip Code,Hire Date,Salary,Department
0,807705,Emily,Wright,emily.wright@Jones-and-Sons.com,wrighte,nJemEDKs_2,11/28/1992,826-25-7034,639.172.7838,4650 Green Oval Apt. 146,West Jordan,TN,37660,01/19/2020,73051.95,IT
1,6347424,Elizabeth,Thompson,elizabeth.thompson@Jones-and-Sons.com,thompsone,%y6HfPygg6,06/12/1974,150-14-5434,644.620.7802,77493 Proctor Radial Suite 993,Placentia,TN,37279,01/04/2008,67818.67,Sales
2,2410658,James,Hall,james.hall@Jones-and-Sons.com,hallj,EnGaKYg1@9,10/19/1968,819-33-0831,626-645-8221,3818 Johnny Cape,Lake Stephanie,TN,37279,06/03/2013,73358.96,Sales
3,8188638,Debra,Chung,debra.chung@Jones-and-Sons.com,chungd,%N^b7X#g%U,03/01/1974,357-68-0193,(233) 989-4195,39811 Lisa Views,New Laura,TN,37279,09/25/2017,106100.54,Marketing
4,2919375,Erica,Howard,erica.howard@Jones-and-Sons.com,howarde,OvjC7!HBw%,02/03/1988,575-62-1269,(849) 702-5617,42242 Shannon Divide,Anderson,TN,38257,06/12/2001,92396.08,Management
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1286645,Michael,Hansen,michael.hansen@Jones-and-Sons.com,hansenm,3r0qNKxy#C,02/15/1977,312-86-0779,351-464-6169,6028 Fox Prairie,Rohnert Park,TN,37918,04/17/2014,73998.94,Accounting
296,3596627,William,Gardner,william.gardner@Jones-and-Sons.com,gardnerw,!9Iq*aP^lx,03/11/1986,692-42-4073,+1-(371)-522-8941,3286 Jessica Overpass,West Holly,TN,38217,01/13/2010,75135.61,Marketing
297,4716342,Kathleen,Wong,kathleen.wong@Jones-and-Sons.com,wongk,)3&1Y(bzOt,04/28/1969,264-12-3752,1-572-772-4647,63597 Anthony Causeway,Sebastian,TN,38153,12/01/2021,118156.42,IT
298,5435655,Michael,Moses,michael.moses@Jones-and-Sons.com,mosesm,_OSDR6w_Q4,07/13/1993,488-63-5069,402.212.6155,63237 Jennifer Parkway Suite 331,West Holly,TN,37279,08/10/2012,100705.28,Sales
299,2076176,Mark,Olson,mark.olson@Jones-and-Sons.com,olsonm,#9XSdrg2_q,10/13/1986,893-34-7541,252-132-0668,05152 Jones Greens,West Holly,TN,37993,12/08/2014,96195.94,Sales

In [6]:
fake_customers = fake_company.MakeFakeCustomers()["As_DataFrame"]

In [7]:
fake_customers

,Customer ID,First Name,Last Name,Email,Username,Password,Phone Number,Address,City,State,Zip Code,Card Provider,Card Number,CVV,Expiration Date
0,7126,Eric,Turner,zealand2010@gmail.com,turnere,morrisjessica,030.971.7177,1061 Sierra Green,Sherman,TN,37279,MasterCard,5211 4487 3294 2417,569,10/24
1,1714,Daniel,Lee,romance1850@gmail.com,leed,happens_1949,1-577-320-2401,3252 Buckley Point,Silvashire,TN,37279,American Express,2283 6868 5420 7370,529,12/22
2,7716,Deanna,Schroeder,positioning1982@yahoo.com,schroederd,kjohns,876.050.7367,4933 George Route,North Michaeltown,TN,37167,Chase,3461 246441 84278,791,01/28
3,1893,Susan,Farrell,mph1859@yahoo.com,farrells,what_1912,979.770.4420,3941 Fuentes Green Apt. 111,Royal Palm Beach,TN,37935,Discover,5184 8117 8623 5033,737,06/24
4,6129,Christina,Dodson,windows1974@outlook.com,dodsonc,mbr_qJLR,659.541.4420,25657 Rogers Bridge Suite 359,West Holly,TN,38402,MasterCard,4164 0952 4848 1891,883,09/22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,6504,Steven,Johnston,simulations1870@outlook.com,johnstons,"""Fi)=IUv",262.393.0562,2867 Barton Spur,West Holly,TN,37178,Chase,2354 0336 0357 6512,077,03/24
192,8138,Wendy,Moore,convenience2041@gmail.com,moorew,accommodation_2094,766-222-2276,2730 Brown Plaza,Jodyview,TN,37440,Discover,2598 8833 0322 5703,940,11/25
193,2743,Corey,Li,leslie1968@outlook.com,lic,wsingh,1-040-859-1295,97534 Clements Fords Apt. 652,West Bend,TN,37279,Visa,4877 0746 4370 5640,863,05/23
194,1639,Angelica,Douglas,accident1849@gmail.com,douglasa,psmith,211-037-9508,232 Amanda Bridge,Philadelphia,TN,37177,MasterCard,4576 6873 2630 0605,177,08/22
195,5067,Jesus,Acosta,african1979@outlook.com,acostaj,sanchezsharon,1-287-513-7930,51311 Ashley Ways Suite 129,Glendale Heights,TN,37279,Discover,5366 0321 5168 3687,460,03/23

In [8]:
fake_inventory = fake_company.MakeFakeInventory()["As_DataFrame"]

In [9]:
fake_inventory

,Stock ID,Product,Year,Price,Stock Quantity
0,30NVPK4,JCB Brand Forgotten (4WD Tractor),2013,345.80,19
1,B13KLNV,McCormick CX85 (Cultivator),2014,725.42,1
2,B80RJGW,Caterpillar 299D2 XHP,2007,411.82,48
3,GB56DMS,Washburn 9400-12 20-22 (Skid Steer Loader),2018,740.04,35
4,08UTBV1,Caterpillar Southwest Structures (Crawler Loader),2011,474.64,42
...,...,...,...,...,...
107,GB05XRO,Chrysler Pennsylvania,2008,525.85,14
108,GB87SSY,Intel® Iris™ Pro Graphics 5200,2005,962.55,38
109,40WFLQ0,John Deere 9420RX,2007,355.36,65
110,B17IRJG,Morgan Complete,2016,176.13,58
111,GB13HOS,Caterpillar CB54B - Split Drum (Mini Excavator),2008,776.43,5

In [10]:
fake_transactions = fake_company.MakeFakeTransactions(fake_inventory, fake_customers)

In [11]:
fake_transactions

,Transaction ID,Product Sold,Product ID,Customer ID,Customer Name,Customer Address,Card Number,Card Provider,Payment,Quantity Sold,Payment Date
41,0-01-607069-0,Alfa Romeo Contributions,85XUCZ5,1976,Elizabeth Carter,"1764 Mueller Loop, Coon Rapids, TN 38454",3499 508938 13457,Discover,649.54,2.0,06/02/2021
73,0-02-649047-1,Hyundai R320LC-7 High Chassis (Air Drill),B31GGUO,5792,Alyssa Robles,"1846 Christine Tunnel Apt. 856, West Holly, TN...",3454 604354 69127,MasterCard,393.34,1.0,04/16/2021
48,0-04-365075-9,Liebherr R924B (4WD Tractor),GB19TJH,7948,Christopher Hardin,"2112 Teresa Spur, Kimberlytown, TN 37279",4816 4700 5943 3590,Chase,376.35,3.0,09/06/2022
89,0-07-805031-6,Lada Customers,GB78AHT,2371,Yvonne Galvan,"0001 Walker Shoals Suite 087, West Kellyton, T...",3799 938946 42007,Visa,638.75,1.0,08/31/2022
61,0-09-154111-5,Sunflower 5054-50.6 (4WD Tractor),B04XWBV,5488,Amanda Weber,"6610 Ferguson Squares Suite 800, Lopezville, T...",4001 7525 7815 4426,MasterCard,27.05,1.0,09/24/2021
...,...,...,...,...,...,...,...,...,...,...,...
45,1-901310-28-0,JCB 1110T,05TCXR2,3854,Bethany Anderson,"5516 Armstrong Freeway Apt. 809, South Laura, ...",3796 987098 17518,Chase,984.97,2.0,11/07/2021
10,1-915815-31-2,Samsung Galaxy Note 4,73WKKY6,8059,Brian Barnes,"010 Steven Village, Warren, TN 37818",2462 0360 5077 6385,MasterCard,768.64,1.0,10/31/2021
34,1-951105-70-2,AgriTech Smile Certain (Multi Terrain Loader),97ZQKH9,6167,Tyler Stewart,"16461 Mary Stream, Fridley, TN 38117",2560 3918 7941 5421,Discover,707.46,1.0,03/19/2021
87,1-967218-59-5,Caterpillar 140M/140M AWD (Air Drill),35XBIF2,7799,Kevin Wu,"63388 Jeremy Underpass, West Thomasfurt, TN 37912",3740 094642 71476,Chase,92.98,1.0,04/19/2020
64,1-997215-93-4,Nokia Lumia 525,B05YSHH,8590,Alexander Hamilton,"10830 Lopez Walks Apt. 514, Harrison, TN 37194",5308 1407 7434 4123,Visa,915.00,1.0,03/20/2022